{% extends "base.html" %}

{% block title %}Delete Golongan{% endblock %}

{% block content %}
    <h1>Delete Golongan</h1>
    <div class="Golongan">
    <form action="" method="post">
        {% csrf_token %}
        <hr>
        <h3>Golongan</h3>
        <div>
                <h6>
                    {{ golongan.golongan }}-{{ golongan.pangkat }}
                </h6>
            </div>
        <hr>
        <p>Apakah anda ingin menghapus Golongan di atas?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'golongan_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}