{% extends 'base.html' %}

{% load custom_tags %}

{% load staticfiles %}

{% block title %}TIM-Detail{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
<div class="col-9">
    <a href="{% url 'tim_list' %}"><i class="fas fa-angle-double-left"></i>Back to Daftar Tim</a>
    <h3>TIM {{ tim.nama }} </h3> 
    {% if 'Operator' in request.user.groups.all.0.name %}
        <a href="{% url 'tim_update' pk=tim.id %}" class="btn btn-sm btn-warning">Edit Tim</a></td>    
    {% endif %}
    <p>Bertanggung jawab untuk RPS matkul :  </p>
    <ol>
    {% for rps in tim.rps %}
        <li><a href="{% url 'rps_detail' pk=rps.matkul.id %}">RPS {{ rps.matkul.nama_matkul }}</a></li>
    {% endfor %}
    </ol>
    <h3>Anggota Tim {{ tim.nama }}</h3>
    <table class="table table-sm table-hover">
        <thead class="bg-dark" style="color:white;">
            <th class="text-center">No</th>
            <th>Nama</th>
            <th class="text-center">Jabatan</th>
            {% if 'Operator' in request.user.groups.all.0.name %}
            <th class="text-center">Action</th>
            <th class="text-center">
                {% if tim.is_exist_ketua %}
                    <!-- <form method="post2">
                        {% csrf_token %}
                        <button class="btn btn-primary btn-sm" type="submit" name="ubah_ketua" value="{{ tim.is_exist_ketua }}" >Ubah Ketua</button>
                    </form> -->
                    <a href="{% url 'tim_change_ketua' tim=tim.id %}" class="btn btn-warning btn-sm">Ubah Ketua</a>&nbsp;&nbsp;
                {% endif %}
                <a class="btn btn-success btn-sm" href="{% url 'tim_add' tim=tim.id %}">Tambah Anggota</a>
            </th>
            {% endif %}
        </thead>
        <tbody>
            {% if tim.is_exist_ketua %}
                <tr>
                    <td class="text-center">1</td>
                    <td>{{ tim.ketua.dosen.name }}</td>
                    <td class="text-center">Ketua</td>
                    {% if 'Operator' in request.user.groups.all.0.name %}
                    <td class="text-center">
                        <a href="{% url 'tim_del' tim=tim.id pk=tim.ketua.id %}"class="btn btn-danger btn-sm mb-3">Hapus</a>
                    </td>
                    <td></td>
                    {% endif %}
                </tr>
            {% endif %}
            {% for anggota in tim.anggota %}
                <tr>
                    {% if not tim.is_exist_ketua %}
                        <td class="text-center">{{ forloop.counter }}</td>
                    {% else %}
                        <td class="text-center">{{ forloop.counter | add:"1" }}</td>
                    {% endif %}
                    <td>{{ anggota.dosen.name }}</td>
                    {% if not ubah_button %}
                        <td class="text-center">Anggota</td>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary btn-sm" type="submit" name="ketua" value="{{ anggota.id }}" >Jadikan Ketua</button>
                        </form>
                    {% endif %}
                    {% if 'Operator' in request.user.groups.all.0.name %}
                    <td class="text-center">
                        <a href="{% url 'tim_del' tim=tim.id pk=anggota.id %}" class="btn btn-danger btn-sm mb-3">Hapus</a>&nbsp;
                    </td>
                    <td class="text-center">
                        {% if not tim.is_exist_ketua %}
                            <form method="post">
                                {% csrf_token %}
                                <button class="btn btn-primary btn-sm" type="submit" name="ketua" value="{{ anggota.id }}" >Jadikan Ketua</button>
                            </form>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
