{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% comment %} {% block form %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" >Simpan</button>
    <a href="{% url 'tim_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
</form>
{% endblock %} {% endcomment %}

{% block form %}
<h5 class="text-warning bg-dark font-weight-bold text-center">Tambah Tim</h5>
{% crispy form%}
<hr class="bg-dark"></hr>
{% endblock %} 

{% block script %}
<script>

$('#button-id-cancel').on('click',function(){
    window.location.replace("{%  url 'tim_list' %}");
});
</script>
{% endblock script %}