{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    Daftar Tim
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
    <div>
        <a href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to dashboard</a>
        <div class="row">
            <div class="col-10">
                <h3>Daftar Tim Perumus RPS</h3>
            </div>
            <div class="float-right">
            {% if 'Operator' in request.user.groups.all.0.name %}
                <p>
                    <a href="{% url 'tim_create' %}" class="float-right btn btn-success btn-sm">+ Tambah Tim</a>
                </p>
            {% endif %}
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nama Tim</th>
                    <th>Ketua</th>
                    <th>Mata Kuliah</th>
                    {% if 'Operator' in request.user.groups.all.0.name %}
                        <th class="text-center">Aksi</th>
                    {% endif %}
                    
                </tr>
            </thead>
            <tbody>            
                {% for tim in tims %}
                    <tr>
                        <td><a 
                        href="{% url 'tim_detail' pk=tim.id %}"
                        >{{ tim.nama }}</a></td>
                        <td>{{ tim.ketua.dosen.name }}</td>
                        <td>
                        {% for rps in tim.rps %}
                            <a href="{% url 'matkul_detail' kur=rps.matkul.kurikulum.tahun pk=rps.matkul.id %}"><p>{{ rps.matkul.kd_matkul }}</p></a>
                        {% endfor %}
                        </td>
                        {% if 'Operator' in request.user.groups.all.0.name %}
                            <td class="text-center">
                                <a href="{% url 'tim_update' pk=tim.id %}" class="btn btn-sm btn-warning">Edit</a>
                                <a href="{% url 'tim_delete' pk=tim.id %}" class="btn btn-sm btn-danger">Hapus</a>
                            </td>
                        {% endif %}
                       
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'arsip_list' %}" class="btn btn-sm btn-primary">Lihat Arsip</a>
        <!-- <div id="mybutton" class="btn-group dropup">
        <button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lihat arsip lama
        </button>
        <div class="dropdown-menu"> -->
            <!-- Dropdown menu links -->
            <!-- <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
        </div> -->
    </div>
{% endblock content %}
