{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div>
    <h3>Tim {{ tim }}</h3>
    <p>Ketua saat ini : {{ ketua }}</p>
    <br>
    <br>
    <h4>Kandidat ketua</h4>
    <table class="table">
        <tr>
            <td>No</td>
            <td>Nama</td>
            <td>Aksi</td>
        </tr>
        {% for anggota in anggotas %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ anggota.dosen.name }}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit" name="ketua" value="{{ anggota.id }}" >Jadikan Ketua</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'tim_detail' tim.id %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
</div>
{% endblock %}

{% block script %}
{% endblock script %}