{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block form %}
<h5 class="text-warning bg-dark font-weight-bold text-center">Tambah Anggota</h5>
{% if error %}
    {{ error }}
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" >Simpan</button>
    <a href="{% url 'tim_detail' tim.id %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
</form>
{% endblock %}

{% block script %}
{% endblock script %}