{% extends "base.html" %}

{% block title %}Delete Anggota Tim{% endblock %}

{% block content %}
    <h1>Delete Tim</h1>
    <div class="Status">
    <form action="" method="post">
        {% csrf_token %}
        <hr>
        <h3>Tim {{ tim.nama }}</h3>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>Ketua</td>
                        <td>:</td>
                        <td>{{ tim.ketua.dosen.name }}</td>
                    </tr>
                    <tr>
                        <td>RPS yang diampu</td>
                        <td>:</td>
                        <td>
                            {% for rps in tim.rps %}
                                {{ rps.matkul.nama_matkul }}, 
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Anggota</td>
                        <td>:</td>
                        <td class="text-danger"> <span class="text-dark">||</span>
                            {% for anggota in tim.anggota %}
                                {{ anggota.dosen.name }}
                                <span class="text-dark">||</span> 
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <p>Apakah anda ingin menghapus Tim di atas?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'tim_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}