{% extends "base.html" %}

{% block title %}Delete Anggota Tim{% endblock %}

{% block content %}
    <h1>Delete Anggota</h1>
    <div class="Status">
    <form action="" method="post">
        {% csrf_token %}
        <hr>
        <h3>Anggota {{ anggota.dosen.name }}</h3>
        <hr>
        <p>Apakah anda ingin menghapus anggota di atas?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'tim_detail' object.tim.id %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}