{% extends "base.html" %}

{% block title %}Delete Matkul{% endblock %}

{% block content %}
    <h1>Delete Matkul "{{ object.nama_matkul }}"</h1>
    <div class="matkul">
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object.nama_matkul }}"?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'matkul_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}