{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block form %}
<h5 class="text-warning bg-dark font-weight-bold text-center">Tambah Mata Kuliah [Kurikulum {{view.kwargs.kur}}]</h5>
{% crispy form%}
<hr class="bg-dark"></hr>
{% endblock %}

{% block script %}
<script>
$('#button-id-cancel').on('click',function(){
    window.location.replace("{% url 'authenticate' %}");
})
</script>
{% endblock %}