{% extends 'base.html' %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% block form %}
<h5 class="text-warning bg-dark font-weight-bold text-center">Ubah matkul</h5>
{% crispy form%}
<hr class="bg-dark"></hr>
{% endblock %}

{% block script %}
<script>
    $('#button-id-cancel').on('click',function(){
        window.location.replace("{% url 'matkul_detail' kur=matkul.kurikulum.tahun pk=matkul.id %}");
    })
</script>
{% endblock %}