{% extends "base.html" %}

{% load custom_tags %}

{% block title %}Hapus Jabatan{% endblock %}

{% block content %}
    <h1>Hapus Jabatan</h1>
    <div class="jabatan">
    <form action="" method="post">
        {% csrf_token %}
        <hr>
        <h3>Info SK Jabatan dengan jabatan {{jabatan.jabatan}}</h3>
        <div>
            <p>SK Jabatan dibawah ini akan terhapus jika anda menghapus jabatan ini</p>
            {% get_delete_jabatan jabatan_obj %}
        </div>
        <hr>
        <p>Apakah anda ingin menghapus Jabatan {{jabatan.jabatan}} ?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'jabatan_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}