{% extends 'base-login.html' %}

{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
    <div class="col-md-6 mx-auto">
    <h2 class="text-center mb-5">Sign in to your staff id</h2>
    <form method='post'>
        {% csrf_token %}
        {{ form | crispy }}
        <a class="float-right" href="{% url 'password_reset' %}">Forgot your password?</a>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    </div>
{% endblock content %}
