{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Reset your passowrd</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p><button class="btn btn-primary" type="submit" >Save changes</button></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.</p>
    {% endif %}
{% endblock  %}