{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Reset your passowrd</h1>
    <p>We've emailed you instructions for setting your password.<p>
    <p>If you don't have received an email, please make sure you've entered the address you registered
    with.<p>
{% endblock  %}