{% extends 'base.html' %}

{% block title %}Password Changed{% endblock %}

{% block content %}
    <h1>Password changed</h1>
    <p>Your password has been succesfully changed.</p>
    <a href=" {% url 'authenticate' %}"><p>Go back to dashboard</p></a>
{% endblock  %}