{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Change your password {% endblock %}

{% block content %}
    <h1>Change your password</h1>
    <p>Use the form below to change your password<p>
    <form action="." method="post">
        {{ form|crispy }}
        <p><button class="btn btn-primary" type="submit" value="Change">Simpan</button></p>
        {% csrf_token %}
    </form>
{% endblock  %}