{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form action="." method="post">
        {{ form|crispy }}
        <p><button class="btn btn-primary" type="submit" >Send Email</button></p>
        {% csrf_token %}
    </form>
{% endblock %}