{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block form %}
<form method="post" enctype="multipart/form-data">
    <h3>Tambah Strata Baru</h3>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" >Simpan</button>
    <a href="{% url 'strata_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
</form>
{% endblock %}
