{% extends "base.html" %}

{% load custom_tags %}

{% block title %}Hapus Strata{% endblock %}

{% block content %}
    <h1>Hapus Strata</h1>
    <div class="Status">
    <form action="" method="post">
        {% csrf_token %}
        <hr>
        <div>
            <p>Data ijazah dibawah ini akan terhapus jika anda menghapus Strata {{strata.strata}}</p>
            {% get_delete_strata strata_obj %}
        </div>
        <hr>
        <p>Apakah anda ingin menghapus Strata {{strata.strata}}</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'strata_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}