
<div class="d-none d-md-block">
    <li class="nav-item dropdown d-flex flex-row-reverse">
        <a class="nav-link dropdown-toggle" id="account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if dosen %}
            {{dosen_username}}
        {% else %}
            {{staff_username}}
        {% endif %}
        
        </a>
        <div  class="dropdown-menu dropdown-menu-left" aria-labelledby="account">
            <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
            <a class="dropdown-item" href=" {% url 'password_change' %}">Change Password</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
    </li>
</div>
