{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
        {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="main-container">
            <div id="head">
                <div id="navhead">
                    {% include 'base/header.html' %}
                </div>
                <div id="navmenu">
                    <div class="container">
                        {% include 'base/nav.html'%}
                    </div>
                </div>
            </div>
            <div class="container">
            {% block content %}
            {% endblock content %}
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        {% block form %}
                        {% endblock form %}
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
        {% include 'base/footer.html' %}
        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block script %}
        {% endblock script %}

    </body>
</html>