<!-- Footer -->
<footer id="footer" class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p>Departemen Ilmu Komputer/Informatika Universitas Diponegoro</p>
    <p>Jl. Prof. Soedarto, S.H. Kampus Tembalang Semarang 50275</p>
    <p>(024) 70594104</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

