
<header class="navbar">
{% block error %}
{% endblock %}
  <a class="navbar-brand" href="{% url 'home' %}">
    <h2 id="prodi">Ilmu Komputer/ Informatika</h2>
    <h3>Universitas Diponegoro</h3>
  </a>
  <ul class="navbar-nav bd-navbar-nav">
    {% if user.is_authenticated %}
        {% if 'Dosen' in request.user.groups.all.0.name %}
          <li class="pull-right d-flex flex-row-reverse">
            <a class="nav-link">Dosen</a>
          </li>
          {% elif 'Operator' in request.user.groups.all.0.name %}
          <li class="pull-right d-flex flex-row-reverse">
            <a class="nav-link">Operator</a>
          </li>
          {% else %}
          <li class="pull-right d-flex flex-row-reverse">
            <a class="nav-link">Admin</a>
          </li>
        {% endif %}
    {% else %}
      <a class="navbar-toggler" href="{% url 'login'%}">Login</a>
    {% endif %}
  </ul>
</header>