
<header>
{% block error %}
{% endblock %}
<nav class="navbar">
  <a class="navbar-brand" href="{% url 'home' %}">
    <h2 id="prodi">Ilmu Komputer/ Informatika</h2>
    <h3>Universitas Diponegoro</h3>
  </a>
  </ul>
</nav>
</header>