
{% load custom_tags %}
<ul class="container nav navbar-expand-md">
  <li class="nav-item">
    <a class="nav-link menu-link" href="{% url 'home' %}">Home</a>
  </li>
  <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <li class="nav-item">
      <a class="nav-link menu-link">Staff</a>
      <ul class="child-link dropdown-menu-left">
        <li class="child">
          <a class="px-3" href="{% url 'dosen_list' %}">
            Dosen
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link menu-link" >Akademik</a>
      <ul class="child-link dropdown-menu-left">
        <li class="child">
          <a class="px-3" href="{% url 'matkul_list' %}">Kurikulum
          </a>
        </li>
        {% lab_nav %}
        <li class="child">
          <a class="px-3" href="{% url 'index' %}">Jadwal
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link menu-link" href="{% url 'tim_list' %}">RPS</a>
    </li>
    <li class="flex-grow-1">
      <a class="disabled"></a>
    </li>
  </div>
  {% if request.user.is_authenticated %}
    {% get_info request.user.id %}
  {% endif %}
</ul>
