<div>
    <h4>Log dan Komentar</h4>
    <hr>
    {% for comment in comments %}
        {% if comment.body or "Menolak" in comment.log %}
        <div class="card border-danger mb-3">
            <h5 class="p-2 text-danger mb-1">{{ comment.log }}</h5>
            <p class="p-2"><small>{{ comment.tanggal }}</small></p>
            <p class="p-2">"{{ comment.body }}"</p>
        </div>
        {% elif "batal" in comment.log %}
        <div class="card border-dark mb-3">
            <h6 class="pl-2 pt-1 text-dark mb-1">{{ comment.log }}</h6>
        </div>  
        {% elif "Tim Menyetujui" in comment.log %}
        <div class="card border-warning mb-3">
            <h5 class="pl-2 pt-1 text-warning mb-1">{{ comment.log }}</h5>
            <p class="pl-2 pb-1"><small>{{ comment.tanggal }}</small></p>
        </div>   
        {% elif "GPM Menyetujui" in comment.log %}
        <div class="card border-primary mb-3">
            <h5 class="pl-2 pt-1 text-primary mb-1">{{ comment.log }}</h5>
            <p class="pl-2 pb-1"><small>{{ comment.tanggal }}</small></p>
        </div>    
        {% elif "diarsipkan" in comment.log %}
        <div class="card text-white bg-success mb-3">
            <h6 class="pl-2 pt-1 text-light mb-1">{{ comment.log }}</h6>
        </div>    
        {% else %}
        <div class="card border-success mb-3">
            <h5 class="pl-2 pt-1 text-success mb-1">{{ comment.log }}</h5>
            <p class="pl-2 pb-1"><small>{{ comment.tanggal }}</small></p>
        </div>    
        {% endif %}
    {% endfor %}
</div>