<div>
    <div>
        <h3>Capaian Pembelajaran</h3>
        <div>
            <ul>
                {% for cpmk in cpmks %}
                    <li>{{ cpmk.cpmk }}</li>
                {% endfor %}    
            </ul>
        </div>
    </div> 
    <div>
        <h3>Referensi Pembelajaran</h3>
        <div>
            {{ referensi | safe }}
        </div>
    </div>
    <div>
        <h3>Jadwal Pembelajaran</h3>
        <table class="table">
            <tr>
                <th>Minggu-ke</th>
                <th>Bahan Kajian</th>
                <th>Referensi</th>
            </tr>
            {% for jadwal in jadwals %}
                <tr>
                    <td>{{ jadwal.minggu }}</td>
                    <td>
                        {% for kajian in jadwal.kajian %}
                            <p>{{ kajian.bahan }}</p>
                        {% endfor %}
                    </td>
                    <td>{{ jadwal.referensi | safe }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>