<div>
    <table class="table">
        <tr>
            <td>No.</td>
            <td>Pemilik</td>
            <td>Tanggal SK</td>
            <td>Jabatan</td>
        </tr>
        {% for sk in sks %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ sk.dosen.name }}</td>
                <td>{{ sk.data.tanggal }}</td>
                <td>{{ sk.data.jabatan }}</td>
            </tr>
        {% endfor %}
    </table>
</div>