<div>
    <table class="table">
        <tr>
            <td>No.</td>
            <td>Dosen</td>
            <td>Ijazah</td>
            <td>Sekolah</td>
        </tr>
        {% for ijazah in ijazahs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ ijazah.dosen.name }}</td>
                <td>{{ ijazah.data.nama }}</td>
                <td>{{ ijazah.data.sekolah }},{{ijazah.data.negara}}</td>
            </tr>
        {% endfor %}
    </table>
</div>