<script>
    $(function() {
        $('.plusdiv #adddata').on('click', function() {

            var orgname, from, todate, capacity, orgid;
            orgid = $("#orgid").val();
            orgname = $("#orgname").val();
            from = $("#fromdt").val();
            todate = $("#todt").val();
            capacity = $("#cpcty").val();

           
            
            var edit = "<a class='editedu' href='#'><i class='fa fa-edit fa-2x'></i></a>";
            var del = "<a class='deleteedu' href='#'><i class='fa fa-remove fa-2x'></i></a>";

            if (orgname == "" || from == "" || todate == "") {
                alert("Fields should not be empty");
            } else {
                var table = "<tr><td>" + orgname + "</td><td>" + from + "</td><td>" + todate + "</td><td>" + capacity + "</td><td>" + edit + "</td><td>" + del + "</td></tr>";
                $("#tableexp").append(table);
            }
            orgid = $("#orgid").val("");
            orgname = $("#orgname").val("");
            from = $("#fromdt").val("");
            todate = $("#todt").val("");
            capacity = $("#cpcty").val("");
        });
    });

    $(function() {
        $("#tableexp").on("click", ".deleteedu", function(e) {
            if (confirm("Are you sure want to delete")) {
                $(this).closest('tr').remove();
            } else {
                e.preventDefault();
            }
        });
    });

    $(function() {
        $('.crossdiv #cleardata').on('click', function() {
            $("#orgid").val("");
            $("#orgname").val("");
            $("#fromdt").val("");
            $("#todt").val("");
            $("#cpcty").val("");
        });
    });

    $(function() {
        var  row, td;
        $("#tableexp").on("click", ".editedu", function(e) {
            row = $(this).closest('tr');
            td = row.find("td");
            $('#orgname').val($(td[0]).html());
            $('#fromdt').val($(td[1]).html());
            $('#todt').val($(td[2]).html());
            $('#cpcty').val($(td[3]).html());

        });
    });
</script>
