    <div class="crud_without_db row">
        <div class="jenis_kriteria ml-2">
            <label>Jenis</label>
            <input style="display:none;" id="jenis_id" type="text" name="jenis_id" value="1" />
            <input class="textInput form-control" type="text" name="jenis" id="jenis" value="" required/>
        </div>
        <div class="bobot_kriteria float-right ml-2">
            <label>Bobot</label>
            <input class="textInput form-control" type="number" id="bobot" name="bobot" min="0" max="100" value="" required/>
        </div>
        <div class="plusdiv float-rigth ml-2">
            <a id='adddata' href="#"><i class="fa fa-plus fa-2x"></i></a>
        </div>
    </div>
    <div id="exptable" class="expdiv col-6">
        <br>
        <br>
        <table border="1" style="tabble-hover" cellspacing="0" style="width:100%;" cellpadding="0" id="tableexp">
            <thead>
                <tr>
                    <th style="width:50%;">Jenis</th>
                    <th style="width:30%;">Bobot</th>
                    <th style="width:10%;">Delete</th>
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>
        <br>
        <br>
    </div>