<ul class="child-link dropdown-menu-left">
    {% for kur in kurs  %}
        <li id="{{ kur.id }}" class="child">
            <a id="{{ kur.id }}" class="" href="{% url 'matkul_list_lama' kur.tahun %}">{{kur.tahun}}</a>
        </li>
    {% endfor %}
</ul>