<div>
    <h5>Daftar dosen yang tergabung dalam lab {{ nama_lab }}</h5>
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">No</td>
                <th scope="col">Dosen</td>
                <th scope="col">Bidang Minat</td>
            </tr>
        </thead>
        {% for dosen in dosens %}
            <tr>
                <th scope="row">{{ forloop.counter }}</td>
                <td>{{ dosen.name }}</td>
                <td>{{ dosen.keahlian }}</td>
            </tr>
        {% endfor %}
    </table>
</div>