<li class="child">
    <a class="px-3" >
        Lab
    </a>
    <ul class="">
        {% for lab in labs %}
        <li class="child">
            <a class="px-3" href="{% url 'lab_detail' lab.id %}">{{lab.ket}}
            </a>
        </li>
        {% endfor %}
    </ul>
</li>