
{% if matkul %}
    <table class='table table-sm table-hover'>
        <tr>
            <th>No</th>
            <th>Mata Kuliah</th>
        </tr>
        {% for matkul in matkul %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'matkul_detail' matkul.kurikulum.tahun matkul.id %}">{{matkul|safe}}</a></td>
                
            </tr>
        {% empty %}
        {% endfor %}
    </table>
{% else %}
You haven't have any matkul to teach yet. Please ask operator for more information.
{% endif %}