<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for operator in operators %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{operator.nama}}</td>
                <td>{{operator.user.email}}</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="{% url 'operator_delete' operator.user_id %}">Hapus</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>