
{% if kmpl_rps %}
    <table class='table table-sm table-hover'>
        <tr>
            <th>No</th>
            <th>Mata Kuliah</th>
            <th class="text-center">Status</th>
            <td class="text-center">Action</td>
        </tr>
        {% for rps in kmpl_rps %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{rps.matkul|safe}}</td>
                {% if rps.status == 0 %}
                    <td class="text-center text-secondary font-weight-bold">
                        <span class="badge badge-secondary badge-pill text-light">{{rps.status}}</span>
                        Masih dalam penyusunan
                    </td>
                {% elif rps.status == 1 %}
                    <td class="text-center text-warning font-weight-bold">
                        <span class="badge badge-warning badge-pill text-light">{{rps.status}}</span>
                        Menunggu persetujuan Ketua GPM
                    </td>
                {% elif rps.status == 2 %}
                    <td class="text-center text-primary font-weight-bold">
                        <span class="badge badge-primary badge-pill text-light">{{rps.status}}</span>
                        Menunggu persetujuan Ketua Prodi
                    </td>
                {% elif rps.status == 3 %}
                    <td class="text-center text-success font-weight-bold">
                        <span class="badge badge-success badge-pill text-light">{{rps.status}}</span>
                        RPS Sudah disetujui
                    </td>
                {% endif %}
                <td class="text-center"><a href="{% url 'rps_detail' rps.matkul.id %}" class="btn btn-sm btn-primary">Lihat RPS</a></td>
            </tr>
        {% empty %}
        {% endfor %}
    </table>
{% else %}
You nor your team haven't have any RPS yet. Please ask operator for more information.
{% endif %}