<div>
    <h3>SEMESTER</h3>
    <div class="accordion" id="accordion-semester">
        <ul>
        {% for smt in semester %}
            <li style="list-style:none;" aria-controls="{{ forloop.counter }}"><i style="cursor:pointer;" class="fas fa-caret-right"></i>
                <a href="#" data-toggle="collapse" data-target="#smt{{ forloop.counter }}" aria-expanded="true" aria-controls="{{ forloop.counter }}">SEMESTER {{forloop.counter}}</a>
                <div id="smt{{ forloop.counter }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-semester">
                    <ul>
                        {% for matkul in smt %}
                        <li><a id="{{ matkul.id }}" class="matkul" href="{% url 'matkul_detail' kuri matkul.id %}">{{ matkul.nama_matkul }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    
    <h3>PILIHAN</h3>
    <div class="accordion" id="accordion-pilihan">
        <ul>
        {% for pilihan in pilihans %}
            <li style="list-style:none;" aria-controls="{{ pilihan.smt }}"><i style="cursor:pointer;" class="fas fa-caret-right"></i>
                <a href="#" data-toggle="collapse" data-target="#pil{{ pilihan.smt }}" aria-expanded="true" aria-controls="{{ pilihan.smt }}">SEMESTER {{pilihan.smt}}</a>
                <div id="pil{{ pilihan.smt }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-pilihan">
                    <ul>
                        {% for pil in pilihan.matkul %}
                            <li><a id="{{ pil.id }}" class="matkul" href="{% url 'matkul_detail' kuri pil.id %}">{{ pil.nama_matkul }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    
</div>