{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Tambah Operator{% endblock title %}

{% block form %}
    <h1>Tambahkan Operator Baru</h1>
    {% crispy form %}
{% endblock form %}

{% block script %}

<Script>
$('#button-id-cancel').on('click',function(){
    window.location.replace("{% url 'authenticate' %}");
});
</Script>

{% endblock script %}

