{% extends "base.html" %}

{% block title %}Delete operator{% endblock %}

{% block form %}
    <h1>Hapus operator "{{ object.username }}"</h1>
    <div class="operator">
    <form action="" method="post">
        {% csrf_token %}
        <p>Apakah anda ingin menghapus operator "{{ object.username }}"?</p>
        <input class="btn btn-danger" type="submit" class"button" value="Hapus">
        <a href="{% url 'authenticate' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}