{% extends "base.html" %}

{% block title %}
    Daftar operator
{% endblock %}

{% block content %}
    <h1>Daftar operator</h1>
    <div class="operator-list">
        {% for operator in object_list %}
            <div class="operator">
                <h5 style="display:inline-block">{{operator.nama}}</h5>&emsp;
                <a class="btn btn-danger btn-sm" href="{% url 'operator_delete' operator.user_id %}">Delete</a>
            </div>
            <hr>
        {% empty %}
            <p>You haven't created any operator yet.</p>
        {% endfor %}
        <p>
            <a href="{% url 'new_operator' %}" class="button">Create new operator</a>
        </p>
    </div>
{% endblock %}