{% extends "base.html" %}

{% load custom_tags %}

{% block title %}Hapus Lab KBK{% endblock %}

{% block content %}
    <h1>Hapus Lab KBK </h1>
    <div class="Status">
    <form action="" method="post">
        {% csrf_token %}
        <hr>
        <h3>Info Lab KBK</h3>
        <div>
            <h6>
                {{ lab.nama }}
            </h6>
        </div>
        {% get_lab_dosen lab.id %}
        <hr>
        <p>Lab yang diikuti Dosen dalam daftar diatas akan dikosongkan jika menghapus Lab KBK ini.</p>
        <p>Apakah anda ingin menghapus Lab KBK ini?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'lab_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}