{% extends 'base.html' %}

{% load custom_tags %}

{% load staticfiles %}

{% block title %}Lab {{ lab.nama }} - Detail{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block list %}
<div class="container-fluid">
    <div id="nama-lab" class="row">
        <div class="col-9">
            <h4 class="mx-5">Lab {{lab.nama}} ({{ lab.ket }})</h4>
        </div>
        <div class="col-3">
        {% if group_op %}
            <a class="float-right btn-sm btn-warning" href="{% url 'lab_list' %}"><i class="fas fa-angle-double-left"></i>Kembali</a>
        {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="nav col-3 flex-column">
                {% for lab_ in labs %}
                <a href="{% url 'lab_detail' lab_.id %}" class="highlight"> <h6 class="mx-3 text-right">{{lab_.keterangan}}</h6></a>
                {% endfor %}
            </div>
            <div id="detail-lab" class="col-9">
                <div>
                    <p class="text-justify">{{ lab.desk }}</p>
                </div>
                {% get_lab_dosen lab_id=lab.id %}    
            </div>
        </div>
    </div>
</div>

{% endblock list %}

{% block script %}
<script>
    $(function () {
    var url = window.location.pathname,
        urlRegExp = new RegExp(url.replace(/\/$/, '') + "$");
    $('.highlight').each(function () {
        if (urlRegExp.test(this.href.replace(/\/$/, ''))) {
            $(this).addClass('active');
            $(this).parent().previoussibling().find('a').removeClass('active');
        }
    });    
});
</script>
{% endblock script %}