{% extends "base.html" %}

{% block title %}Hapus Status{% endblock %}

{% block content %}
    <h1>Hapus Status</h1>
    <div class="Status">
    <form action="" method="post">
        {% csrf_token %}
        <hr>
        <h3>Info Status</h3>
        <div>
                <h6>
                    Nama : {{ status.status }}
                </h6>
            </div>
        <hr>
        <p>Apakah anda ingin menghapus Status tersebut?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'status_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}