{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Daftar Arsip RPS
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
    
    <div class="arsip-list">
        <a href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to dashboard</a>
        <div class="row">
            <div class="col-10">
                <h3>Daftar Arsip RPS</h3>
            </div>
            <div class="col-12">
                {% if object_list %}
                <table class="table table-hover">
                    <thead>
                        <th>Arsip RPS</th>
                        {% comment %} {% if 'Operator' in request.user.groups.all.0.name %} {% endcomment %}
                            <th class="text-center">Actions</th>
                        {% comment %} {% endif %} {% endcomment %}
                    </thead>
                    <tbody>
                        {% for arsip in arsips %}
                        <tr>
                            <td colspan="2">{{arsip.tahun}}</td>
                        </tr>
                            {% for ars in arsip.arsip %}
                                <tr>
                                    <td>{{ars.tahun}}-{{ars.matkul.nama_matkul}}</a></td>
                                    <td class="text-center">
                                        <a href="{% url 'arsip_download' ars.id %}" class="btn btn-sm btn-primary">Download</a>&nbsp;
                                    </td>
                                </tr> 
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>You haven't created any Arsip RPS yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}