
      
    .main-container {
        min-height: 95vh;
        /* will cover the 100% of viewport */
        overflow: hidden;
        display: block;
        position: relative;
        padding-bottom: 0;
        /* height of your footer */
    }

    * {
        box-sizing: border-box;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }

    *:before,
    *:after {
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        position: relative;
    }
    body{
        /* background: url('/media/img/bg1.jpg') fixed !important; */
    }

    footer {
        width: 100%;
        position: relative;
        bottom: 0;
    }


    /* 

        Color1: rgb(9, 124, 196) 

        #B23850
        #3B8BEB
        #E7E3D4
        #C4DBF6
        #8590AA

    */
    #head {
        background-color: #123C69;
        padding-top: 1em;
    }

    #navhead {
        background-color: #123C69;
        padding: 0 5%;
        color: #E7E3D4;
    }

    #detail-lab{
        border-top: 2px solid rgba(241, 241, 241, 0.8);
        border-bottom: 2px solid rgba(241, 241, 241, 0.8);
        border-right: 2px solid rgba(241, 241, 241, 0.8);        
    }

    #prodi{
        color:white;
        font-weight: 600;
    }

    #dosen-mail{
        /* color: red; */
    }

    #account{
        color: white;
        cursor: pointer;
    }

    #navmenu {
        background-color: #222222f8;
    }

    #sidebar{
        margin: 0%;
        border-right: #222222 solid 2px;
    }

    #nama-lab{
        /* background-color: #ffda00; */
        color: black;
        padding: 1em 7em;
    }
    .dosen-list{
        margin: 2.5% 5%;
    }

    .page-footer {
        background-color: #222222;
        color: #E7E3D4;
    }


    .sidebar-left{
        float: left;
    }

    .highlight{
        border: 1px solid rgba(241, 241, 241, 0.8);
        border-right: 2px solid rgba(235, 235, 235, 0.9);
        border-left: none;
        padding: .3rem;
    }

    .highlight.active{
        border-right: 2px solid white;
    }

    .sidebar-left>h5.active{
        border-right: none;
    }

    .sidebar-right{
        border-left: 1px solid rgba(241, 241, 241, 0.8);
    }

    div#navmenu>ul.nav.navbar-expand-md{
        position: relative;
        padding: 0;
        list-style: none;
    }

    ul.nav li:hover{
        position: relative;
    }

    div#navmenu ul.nav ul{
        position: absolute;
        top:100%;
        left:15%;
        z-index:10;
        /* display:none; */
        /* float: left; */
        min-width:10rem;
        padding:.7rem 0rem;
        font-size:1rem;
        color:#fff;
        /* text-align:left; */
        list-style:none;
        background-color: rgba(22,22,22,.85);
        background-clip:padding-box;
        visibility: hidden;
    }

    div#navmenu ul.nav ul li a{ 
        border-right: none; 
        width: 100%; 
        display: inline-block; 
    }

    ul.nav ul li{
        float: none;
    }

    div#navmenu ul.nav ul ul{
        padding-top: 0;
        left: 100%; 
        top: 0;
        min-width: 14rem;
    }
    ul.nav li:hover > ul{
        visibility: visible; 
    }

    .dropdown-menu-nav{
        
    }


    .bold{
        font-weight: 800;
    }

    .form-container {
        margin: 0 10%;
    }

    .section{
        padding: .2% 0;
        margin: 1% 0;
        font-size: 12px;
    }

    .section-bg{
        background-color: #123C69;
    }

    .section-link{
        color: white;
        font-size: 12px;
    }

    div.nav a.nav-link.disabled.section-link:hover{
        cursor: default;
        color: white;
    }

    .login-card{
        background-color: #e6e6e6;
        margin: 0% 10%;
        padding: 10% 0;
    }

    ul.nav>li.nav-item>a.disabled{
        color: white;
    }

    header.navbar>a{
        color: #e2e1e1;
    }

    header>nav>a>h3{
        color: #e2e1e1;
    }

    header.navbar>ul>a.navbar-toggler {
        color: white;
    }

    body>div.main-container>div.container {
        padding: 2em 0;
    }

    .menu-link, .nav-link.dropdown-toggle {
        color: white;
    }

    .noresize{
        resize: none;
    }

    div.dosen-detail-info{
        padding-left: 2%;
        padding-bottom: .7%;
    }

    ul>li.pull-right{
        float: right;
    }

    .card-dosen{
        border: solid 1px #123C69;
        margin-bottom: 4%;
    }

    div.card-dosen div.dosen-name{
        padding-left: 2%;
    }

    div.dosen-name>a>p.card-title{
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        color: black;
        font-size: 13px;
    }

    div.dosen-list>hr{
        margin-top: -.5%;
        height: 2px;
        color: #123C69;
        background-color: #123C69;
        border: none;
    }

    div.card-dosen div.list-dosen{
        padding-left: 2%;
        margin: -3% 0;
    }

    div.list-dosen p{
        font-size: 12px;
    }

    div.dosen-jabatan{
        font-size: 12pt;
        font-weight: 500;
        font-style: italic;
    }

    div.dosen-kepegawaian tr{
        font-size: 10pt;
    }

    div.row > div.card{
        border: none;
        padding: .5%;
    }
    .scrollbar{
        height: 45%;
        overflow-y: scroll;
    }

    ul.nav>div.navbar-collapse>li.nav-item:hover ul.child-link, 
    ul.child-link li.child:hover
    {
        display: block;
    }

    ul.nav>.navbar-collapse>.nav-item:hover a.nav-link,
    ul.nav>.nav-item:hover a.nav-link,
    ul.nav>.nav-item:hover a#account,
    li.child>a.px-3:hover{
        color: #ffda00;
        text-decoration: solid;
        font-weight: 800;
    }

    a.nav-link:not([href]) {
        color: #fff;
        cursor: pointer;
    }

    a.nav-link-two:not([href]) {
        color: #fff;
        cursor: pointer;
    }

    li.child a{
        color: #fff;
    }

    /* .nav-pills>.nav-item:active{
        background-color: #123C69;
    } */

    nav.navbar a.nav-link{
        border-radius: 0;
    }

    h4.dosen-name>span.badge{
        font-family: 'Noto Sans JP', sans-serif;
    }
    .sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 160px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }


    .rps_h {
        font-size: 10pt;
        font-family: Calibri, sans-serif; 
        font-weight: 800;
    }

    /* Konpem Form */
    #list-form-tab{
        position: relative;
    }

    /* Block List */

    #list-matkul{
        padding: 3%;
    }

    /* Lab Detail */
    div.row>div.nav.col-3.flex-column{
        padding: 0;
    }

    /* Arsip Float */
    #mybutton {
        position: fixed;
        bottom: 20px;
        right: 10px;
        margin: 20px
      }

      /* Matkul Card */
      div#div_id_prasyarat>label{
        font-weight: bold;
        text-align: center;
      }

      div#div_id_cpmk>label{
        font-weight: bold;
        text-align: center;
      }

      /* BahanKajian Update */

      #id_kriteria_indikator{
          overflow-y: scroll;
          width: 200px;
      }