{% extends "base.html" %}

{% block title %}Delete Metode Pembelajaran{% endblock %}

{% block content %}
    <h1>Delete Metode Pembelajaran "{{ metode }}"</h1>
    <div class="metode">
    <form action="" method="post">
        {% csrf_token %}
        <p>Apa anda yakin ingin menghapus "{{ metode }}"?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'metode_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}