{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Daftar Metode Pembelajaran
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
    
    <div class="metode-list">
        <a href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to dashboard</a>
        <div class="row">
            <div class="col-10">
                <h3>Daftar Metode Pembelajaran</h3>
            </div>            
            <div class="float-right">
                <p>
                    <a href="{% url 'metode_create' %}" class="btn btn-success btn-sm">+ Tambah Metode</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if object_list %}
                <table class="table table-hover">
                    <thead>
                        <th>No</th>
                        <th>Metode Pembelajaran</th>
                        <th>Kegiatan Dosen</th>
                        <th>Kegiatan Mahasiswa</th>
                        <th>Ciri Umum</th>
                        {% if 'Operator' in request.user.groups.all.0.name %}
                            <th class="text-center">Actions</th>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for metode in object_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{metode.metode}}</td>
                            <td>{{metode.kegiatan_dosen}}</td>
                            <td>{{metode.kegiatan_mahasiswa}}</td>
                            <td>{{metode.ciri_umum}}</td>
                            <td class="text-center">
                                <a href="{% url 'metode_update' metode.id %}" class="btn btn-sm btn-warning">Edit</a>&nbsp;
                                <a href="{% url 'metode_delete' metode.id %}" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>You haven't created any Metode Pembelajaran yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}