{% extends "base.html" %}

{% block title %}Delete Dosen{% endblock %}

{% block content %}
    <h1>Hapus Dosen "{{ dosen.name }}"</h1>
    <div class="dosen">
    <form action="" method="post">
        {% csrf_token %}
        <p>Apakah anda ingin menghapus dosen "{{ dosen.name }}"?</p>
        <button class="btn btn-primary" type="submit" >Hapus</button>
        <a href="{% url 'dosen_detail' pk=id %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}