{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Tambah Dosen
{% endblock title %}

{% block form %}
    <h1>Tambahkan Dosen Baru</h1>
    {% crispy form %}   
{% endblock %}

{% block script %}
<script>
$('#id_username').attr('readonly', 'readonly');
$('#id_Nama_Depan').on('input', function(){
    $('#id_username').val($(this).val());
});
$('#button-id-cancel').on('click',function(){
    window.location.replace("{% url 'authenticate' %}");
});
</script>
{% endblock script %}