{% extends 'base.html' %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% block title %}Edit Dosen - Operator{% endblock title %}Edit Dosen - Operator
{% block form %}
<h3>Edit Dosen</h3>
{% crispy form %}
{% endblock %}

{% block script %}
<script>
$('#id_email').attr('readonly', 'readonly');
$('#button-id-cancel').on('click',function(){
    window.location.replace("{% url 'dosen_detail' pk=dosen.id %}");
});
</script>
{% endblock script %}