{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Data Dosen{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}
{% block content %}
    <a class="btn-sm btn-warning" href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to dashboard</a>
    <a class="float-right btn-primary"href="{% url 'print_data_dosen' %}">Print Data Dosen <i class="fas fa-file-csv"></i></a>
   <div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <th>NAMA</th>
            <th>NIP</th>
            <th>NIDN</th>
            <th>JK</th>
            <th>PRODI</th>
            <th>JABATAN</th>
            <th>GOLONGAN</th>
            <th>TEMPAT, TANGGAL LAHIR</th>
            <th>NOMOR TELEPON</th>
            <th>KODE DOSEN WALI</th>
            <th>ALAMAT KANTOR</th>
            <th>KEAHLIAN</th>
            <th>LAB KBK</th>
            <th>E-MAIL</th>
            <th>WEBSITE</th>
            <th>STATUS</th>
        </thead>
        {% for dosen in dosens %}
            <tr>
                <td>{{ dosen.name }}</td>
                <td>{{ dosen.nip }}</td>
                <td>{{ doseb.nidn }}</td>
                <td>{{ dosen.jenkel }}</td>
                <td>{{ dosen.prodi }}</td>
                <td>{{ dosen.jabatan }}</td>
                <td>{{ dosen.golongan }}</td>
                <td>{{ dosen.ttl }}</td>
                <td>{{ dosen.no_telp }}</td>
                <td>{{ dosen.kd_doswal }}</td>
                <td>{{ dosen.alamat_kantor }}</td>
                <td>{{ dosen.keahlian }}</td>
                <td>{{ dosen.lab }}</td>
                <td>{{ dosen.email }}</td>
                <td>{{ dosen.website }}</td>
                <td>{{ dosen.status }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock content %}
