<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Biodata</title>
        <style type="text/css">
            @page {
                size: A4;
                margin: 3cm;
                @frame header_frame {           /* Static Frame */
                    -pdf-frame-content: header_content;
                    left: 50pt; width: 512pt; top: 50pt; height: 40pt;
                } 
                @frame content_frame {          /* Content Frame */
                    left: 50pt; width: 512pt; top: 90pt; height: 632pt;
                }
                @frame footer_frame {           /* Another static Frame */
                    -pdf-frame-content: footer_content;
                    left: 50pt; width: 512pt; top: 772pt; height: 20pt;
                }
            }
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
                padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 1px;
                text-align: left;
            }
            .details > table > tr > td {
                font-size: 16pt;
                font-family: Calibri, sans-serif; 
                margin: .1em;
                word-wrap:break-word;
                vertical-align: top;
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            .page-break{
                page-break-after: always;
            }
        </style>
    </head>
    <body>
        <!-- Content for Static Frame 'header_frame' -->
        <div id="header_content" style="color: grey; font-size: 8pt;">
            <em>Dosen {{ prodi }}, Fakultas Sains dan Matematika, Universitas Diponegoro - Semarang {{ tahun_ini }}</em>
        </div>

        <!-- Content for Static Frame 'footer_frame' -->
        {% comment %} <div id="footer_content">(c) - Footer.  Halaman: <pdf:pagenumber>
            of <pdf:pagecount>
        </div> {% endcomment %}

        <div id="footer_content" style="color: grey; font-size: 8pt;">
            <em>Dosen {{ prodi }}, Fakultas Sains dan Matematika, Universitas Diponegoro - Semarang {{ tahun_ini }}</em>        
        </div>

        <!-- HTML Content -->
        
        <div class='wrapper'>
            <div class='header'>
                <p class='title'> {{ fullname }} </p>
            </div>
        </div>
        <div class="details">
            <table>
               <tr>
                    <td colspan="3" align="center">
                        {% if foto %}
                            <img src="{{ foto.url }}" style="width:185px; height:185px;" />
                        {% else %}
                            Foto
                        {% endif %}
                    </td>
                </tr>
            </table>
            <table>
                {% comment %} Data Pribadi 
                <tr>
                    <td colspan="2" align="center">Data Pribadi</td>
                </tr>
                {% endcomment %}
                {% comment %} nama panjang {% endcomment %}
                <tr>
                    <td colspan="3"><br></td>
                </tr>
                <tr>
                    <td style="width: 250px">Nama</td>
                    <td style="width: 30px">:</td>
                    <td style="width: 513.92px">{{ fullname }}</td>
                </tr>
                {% comment %} nip {% endcomment %}
                <tr>
                    <td>NIP</td>
                    <td>:</td>
                    <td>{{ nip }}</td>
                </tr>
                {% comment %} nidn {% endcomment %}
                <tr>
                    <td>NIDN</td>
                    <td>:</td>
                    <td>{{ nidn }}</td>
                </tr>
                {% comment %} prodi {% endcomment %}
                <tr>
                    <td>Program Studi</td>
                    <td>:</td>
                    <td>{{ prodi }}</td>
                </tr>
                {% comment %} golongan {% endcomment %}
                <tr>
                    <td>Golongan</td>
                    <td>:</td>
                    <td>{{ golongan }}</td>
                </tr>
                {% comment %} jabatan fungsional {% endcomment %}
                <tr>
                    <td>Jabatan Fungsional</td>
                    <td>:</td>
                    <td>{{ jabatan }}</td>
                </tr>
                {% comment %} status {% endcomment %}
                <tr>
                    <td>Status</td>
                    <td>:</td>
                    <td>{{ status }}</td>
                </tr>
                {% comment %} alamat kantor n ruang {% endcomment %}
                <tr>
                    <td style="vertical-align: top;">Alamat Kantor</td>
                    <td style="vertical-align: top;">:</td>
                    <td>{{ alamat_kantor }}</td>
                </tr>
                {% comment %} keahlian {% endcomment %}
                <tr>
                    <td style="vertical-align: top;">Keahlian</td>
                    <td style="vertical-align: top;">:</td>
                    <td>{{ keahlian }}</td>
                </tr>
                {% comment %} Lab KBK {% endcomment %}
                <tr>
                    <td>Bidang Minat</td>
                    <td>:</td>
                    <td>{{ lab }} ({{ lab.keterangan }})</td>
                </tr>
                {% comment %} email {% endcomment %}
                <tr>
                    <td>E-Mail</td>
                    <td>:</td>
                    <td>{{ email }}</td>
                </tr>
                {% comment %} website {% endcomment %}
                <tr>
                    <td style="vertical-align: top;">Website</td>
                    <td style="vertical-align: top;">:</td>
                    <td>{{ website }}</td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td colspan="3"><b>Pendidikan:</b></td>
                </tr>
                {% for pendidikan in list_ijazah %}
                <tr>
                    <td style="vertical-align: top; width: 50px">{{ forloop.counter }}.</td>
                    <td colspan="2" style="width: 743.92px;">
                        {{ pendidikan.nama }},{{ pendidikan.sekolah }},{{ pendidikan.negara }}. Tahun {{ pendidikan.tahun }}. {{ pendidikan.keterangan }}.
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% comment %} <div class="page-break">
                SASUDASBDASJFBJASF
            </div>
            <div class="page-break">
                SASUDASBDASJFBJASF
            </div> {% endcomment %}
        </div>
    </body>
</html>