{% extends 'base.html' %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% block form %}
<h5 class="text-warning bg-dark font-weight-bold text-center">Tolak RPS</h5>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#ModalConfirm"  >Kirim Komentar</button>
    <a href="{% url 'rps_detail' rps.matkul.id %}"><button class="btn btn-secondary" type="button" >Batal</button></a>    

    <!-- Modal -->
    <div class="modal fade" id="ModalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi Tolak RPS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Dengan menolak serta mengirimkan komentar ini, anda akan otomatis mereset status RPS.</p>
                Apakah anda yakin untuk melanjutkannya ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary">Lanjutkan</button>
            </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}