{% extends 'base.html' %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% comment %}
{% block form %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="waktu" />
    {{ form.media }}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" >Simpan</button>
    <a href="{% url 'rps_edit' object.rps.matkul.id %}#{{object.minggu_ke}}"><button class="btn btn-secondary" type="button" >Batal</button></a>
</form>
{% endblock %} 
{% endcomment %}

{% block form %}
<h5 class="text-warning bg-dark font-weight-bold text-center">Edit Bahan Kajian</h5>
{% crispy form%}
<hr class="bg-dark"></hr>
{% endblock %} 

{% block script %}
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<script>

$('#button-id-cancel').on('click',function(){
    window.location.replace("{% url 'rps_edit' object.rps.matkul.id %}#{{object.minggu_ke}}");
});

$('#userEditForm').validate({ 
    ignore: ".ignore",
    invalidHandler: function(e, validator){
        if(validator.errorList.length)
        $('#tabs a[href="#' + jQuery(validator.errorList[0].element).closest(".tab-pane").attr('id') + '"]').tab('show')
    }
});
</script>
{% endblock %}