{% extends "base.html" %}

{% block title %}Delete Bahan Kajian{% endblock %}

{% block content %}
    <h1>Delete Bahan Kajian "{{ object }}"</h1>
    <div class="bahan-kajian">
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'rps_edit' object.rps.matkul.id %}#{{object.minggu_ke}}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}