{% extends 'base.html' %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% block form %}
<h5 class="text-warning bg-dark font-weight-bold text-center">Tambah Bahan Kajian</h5>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" >Tambahkan</button>
    <a href="{% url 'rps_edit' rps.matkul.id %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
</form>
{% endblock %}