<table border=1 width=100% style="table-layout: fixed; border: 1px solid #d1d1d1;" class="table-hover">
        <tbody>
            <col width="55.68px" />
            <col width="55.68px" />
            <col width="169.92px" />
            <col width="226.56px" />
            <col width="66.24px" />
            <col width="97.92px" />
            <col width="93.12px" />
            <col width="152.64px" />
            <col width="56.64px" />
            <tr style="height: 18.24px;" class="rps_h">
                <td style="width: 55.68px; text-align: center;">
                    <p>0</p>
                </td>
                <td style="width: 55.68px; text-align: center;">
                    <p>1</p>
                </td>
                <td style="width: 169.92px; text-align: center;">
                    <p>2</p>
                </td>
                <td style="width: 226.56px; text-align: center;">
                    <p>3</p>
                </td>
                <td style="width: 66.24px; text-align: center;">
                    <p>4</p>
                </td>
                <td style="width: 97.92px; text-align: center;">
                    <p>5</p>
                </td>
                <td style="width: 93.12px; text-align: center;">
                    <p>6</p>
                </td>
                <td style="width: 209.28px; text-align: center;" colspan="2">
                    <p>7</p>
                </td>
            </tr>
            <tr class="rps_h" id="tabel-bahan">
                <td style="text-align: center;" rowspan="2">Action</td>
                <td style="text-align: center;" rowspan="2">
                    <p>Minggu ke</p>
                </td>
                <td style="text-align: center;" rowspan="2">
                    <p>Kemampuan akhir tiap tahapan pembelajaran</p>
                </td>
                <td style="text-align: center;" rowspan="2">
                    <p>Bahan Kajian/ Pokok Bahasan</p>
                </td>
                <td style="text-align: center;" rowspan="2">
                    <p>Metode Pembelajaran</p>
                </td>
                <td style="text-align: center;" rowspan="2">
                    <p>Waktu (menit)</p>
                </td>
                <td style="text-align: center;" rowspan="2">
                    <p>Pengalaman Belajar Mahasiswa</p>
                </td>
                <td style="text-align: center;" colspan="2">
                    <p>Penilaian</p>
                </td>
            </tr>
            <tr style="height: 48.96px;" class="rps_h">
                <td style="width: 152.64px; text-align: center;">
                    <p>Kriteria &amp; Indikator</p>
                </td>
                <td style="width: 56.64px; text-align: center;">
                    <p>Bobot (%)</p>
                </td>
            </tr>
            {% for bahan in list_bahan %}
                {% if bahan.is_uts is True %}
                <tr class="rps_b" id="{{ bahan.minggu_ke }}">
                    <td style="text-align: center;"> 
                        <!-- <a class="btn btn-sm btn-danger" href="{% url 'bahan_delete' object.matkul.id bahan.minggu_ke %}"><i class="fas fa-trash"></i></a> -->
                    </td>
                    <td style="text-align: center;">
                        <p>{{ bahan.minggu_ke }}</p>
                    </td>
                    <td colspan="7" style="text-align: center;"><p class="rps_uts_uas">UTS</p></td>
                </tr>
                {% elif bahan.is_uas is True %}
                <tr class="rps_b" id="{{ bahan.minggu_ke }}">
                    <td style="text-align: center;"> 
                        <!-- <a class="btn btn-sm btn-danger" href="{% url 'bahan_delete' object.matkul.id bahan.minggu_ke %}"><i class="fas fa-trash"></i></a> -->
                    </td>
                    <td style="text-align: center;">
                        <p>{{ bahan.minggu_ke }}</p>
                    </td>
                    <td colspan="7" style="text-align: center;"><p class="rps_uts_uas">UAS</p></td>
                </tr>
                {% else %}
                <tr class="rps_b" id="{{ bahan.minggu_ke }}">
                    <td style="text-align: center;"> 
                        <a class="btn btn-sm btn-primary m-2" href="{% url 'bahan_update' object.matkul.id bahan.minggu_ke %}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger m-2" href="{% url 'bahan_delete' object.matkul.id bahan.minggu_ke %}"><i class="fas fa-trash"></i></a>
                    </td>
                    <td style="text-align: center;">
                        <p>{{ bahan.minggu_ke }}</p>
                    </td>
                    <td>
                        <p>{{ bahan.kemampuan_akhir }}</p>
                        <p><br></p>
                        <p>{{ bahan.referensi | safe }}</p>
                    </td>
                    <td>
                        <p>{{ bahan.bahan_kajian | safe }}</p>
                    </td>    
                    <td style="text-align: center;">
                        <p>
                        {% for metode in bahan.metode_pembelajaran.all %}
                            {% if forloop.first %}
                                {{ metode }}
                            {% else %}
                                dan {{ metode.metode }}
                            {% endif %}
                        {% endfor %}
                        </p>
                    </td>
                    <td style="text-align: center;">
                        <p>{{ bahan.waktu | linebreaks }}</p>
                    </td>
                    <td>
                            <ul>
                                {% for pengalaman in bahan.pengalaman_belajar.all %}
                                    <li><p>{{ pengalaman.pengalaman_belajar }}</p></li>
                                {% empty %}
                                {% endfor %}
                            </ul>
                    </td>
                    <td>
                        <p>{{ bahan.kriteria_indikator | safe }}</p>
                    </td>
                    <td style="text-align: center;">
                        <p>{{ bahan.bobot }}</p>
                    </td>
                </tr>
                {% endif %}
            {% empty %}
            {% endfor %}
            <tr>
                <td class="rps_t" style="text-align: center;" colspan="8"><p>Jumlah</p></td>
                {% if sisa_bahan is 0 and jumlah_bobot is not 100 %}
                    <td class="rps_t" style="text-align: center; color: red"><p>{{ jumlah_bobot }}</p> <p style="font-size: 10;"> (Belum mencapai 100%!)</p></td>
                {% else %}
                    <td class="rps_t" style="text-align: center;"><p>{{ jumlah_bobot }}</p></td>
                {% endif %}
            </tr>
            {% if sisa_bahan is 0 %}
            {% else %}
                <tr>
                    <td style="background: #f8f8f8; text-align: center;" colspan="9">
                        <a href="{% url 'bahan_create' object.matkul.id %}" class="btn btn-success btn-sm col-12">Tambah Bahan Kajian</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>