{% extends "base.html" %}

{% block title %}Delete Pengalaman Belajar Mahasiswa{% endblock %}

{% block content %}
    <h1>Delete Pengalaman Belajar Mahasiswa "{{ pengalaman }}"</h1>
    <div class="pengalaman">
    <form action="" method="post">
        {% csrf_token %}
        <p>Apa anda yakin ingin menghapus "{{ pengalaman }}"?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'pengalaman_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}