{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Daftar Pengalaman Belajar Mahasiswa
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
    
    <div class="pengalaman-list">
        <a href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to dashboard</a>
        <div class="row">
            <div class="col-10">
                <h3>Daftar Pengalaman Belajar Mahasiswa</h3>
            </div>
            <div class="float-right">
                <p>
                    <a href="{% url 'pengalaman_create' %}" class="btn btn-success btn-sm">+ Tambah Pengalaman</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if object_list %}
                <table class="table table-hover">
                    <thead>
                        <th>No</th>
                        <th>Pengalaman Belajar Mahasiswa</th>
                        <th>Penjelasan</th>
                        {% if 'Operator' in request.user.groups.all.0.name %}
                            <th class="text-center">Actions</th>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for pengalaman in object_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{pengalaman.pengalaman_belajar}}</td>
                            <td>{{pengalaman.penjelasan}}</td>
                            <td class="text-center">
                                <a href="{% url 'pengalaman_update' pengalaman.id %}" class="btn btn-sm btn-warning">Edit</a>&nbsp;
                                <a href="{% url 'pengalaman_delete' pengalaman.id %}" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>You haven't created any Pengalaman Belajar Mahasiswa yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}