<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Customized by SMIS">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Jadwal Kuliah Builder</title>

    <!------------------------------------>
    <!--||  Load Django static folder ||-->
    <!------------------------------------>
    {% load static %}

    <!------------------------------------>
    <!--||           jQuery           ||-->
    <!------------------------------------>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>

    <!------------------------------------>
    <!--||          jQuery UI         ||-->
    <!------------------------------------>
    <link href="{% static "css/jquery-ui-1.12.1/jquery-ui.min.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>

    <!------------------------------------>
    <!--||     jQuery contextMenu     ||-->
    <!------------------------------------>
    <!--                                -->
    <!--            blank               -->
    <!------------------------------------>
    <link href="{% static "css/jQuery-contextMenu/jquery.contextMenu.min.css" %}" rel="stylesheet">
    <script src="{% static "js/jQuery-contextMenu/jquery.contextMenu.min.js" %}"></script>
    <script src="{% static "js/jQuery-contextMenu/jquery.ui.position.min.js" %}"></script>

    <!------------------------------------>
    <!--||      EasyAutocomplete      ||-->
    <!------------------------------------>
    <!--                                -->
    <!--   JQuery autocomplete plugin   -->
    <!------------------------------------>
    <link href="{% static "css/easy-autocomplete.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.easy-autocomplete.min.js" %}"></script>

    <!------------------------------------>
    <!--||     Bootstrap core CSS     ||-->
    <!------------------------------------>
    <link href="{% static "css/bootstrap-4.2/bootstrap.min.css" %}" rel="stylesheet">

    <!-------------------------------------------->
    <!--||           Tabulator 4.1            ||-->
    <!-------------------------------------------->
    <!--                                        -->
    <!--  The easy to use, fully featured,      -->
    <!--  interactive table JavaScript library  -->
    <!-------------------------------------------->
    <link href="{% static "css/tabulator4.1/tabulator.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/tabulator4.1/tabulator.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tabulator4.1/jquery_wrapper.min.js" %}"></script>

    <!-------------------------------------------->
    <!--||              SheetJs               ||-->
    <!-------------------------------------------->
    <!--                                        -->
    <!--  Read, edit, and export spreadsheets   -->
    <!--  Works in web browsers and servers     -->
    <!--  Supports every Excel file format      -->
    <!-------------------------------------------->
    <script type="text/javascript" src="{% static "js/xlsx.full.min.js" %}"></script>


    <style>
      /****************************/
      /*    Internal HTML style   */
      /****************************/
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .fixedbar {
        position: fixed;
      }
      .form {
        border: none;
      }
      .form td {
        text-align: center;
        margin: 5px;
        border-left:5px;
      }
      .form td select {
        width: inherit;
        text-align: left;
      }

      /****************************/
      /*   Tabulator table style  */
      /****************************/
      .table {
        margin: 0px auto;
        max-width: 970px;
      }

      /****************************/
      /* Tabulator style override */
      /****************************/
      .tabulator .tabulator-col-title {
        text-align: center;
      }
      .tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
        white-space: normal;
      }
      .tabulator-row>span {
        display: none;
      }

      /****************************/
      /* jQuery UI style override */
      /****************************/
      .no-close {
        display: none;
      }
      .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
      }
      .ui-dialog {
        position: fixed !important;
      }
    </style>

  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Jadwal Kuliah Builder</h3>
    </div>
  </header>

  <!----------------------------------------->
  <!--|| Load custom template tag Django ||-->
  <!----------------------------------------->
  {% load customtemplatetag %}

  <main role="main" class="inner cover">
    <p class="lead">
      JADWAL KULIAH<br/>
      SEMESTER {% gas_or_gen %} TAHUN AKADEMIK {% thn_pel %}<br/>
      DEPARTEMEN ILMU KOMPUTER/INFORMATIKA<br/>
    </p>
  </main>

  <!------------------------------------>
  <!--||   Tabulator Control Panel  ||-->
  <!------------------------------------>
  <nav class="fixedbar">
    <div>
      <button id="export" class="btn btn-sm btn-dark btn-block">Export</button>
      <button id="import" class="btn btn-sm btn-dark btn-block">Import</button>
      <button id="tambah-slot" class="btn btn-sm btn-dark btn-block">Tambah slot</button>
      <button id="reset" class="btn btn-sm btn-danger btn-block">Reset</button>

      <input id="inputfile" type="file" accept=".xlsx" style="display: none"></input>

      <div id="confirm-reset" title="Reset tabel">
        <p><span class="ui-icon ui-icon-alert" style="margin:12px 12px 20px 0;"></span>
          Tabel akan direset. Apakah ingin lanjut?
        </p>
      </div>

      <div id="confirm-delete-slot" title="Hapus slot">
        <p><span class="ui-icon ui-icon-alert" style="margin:12px 12px 20px 0;"></span>
          Slot akan dihapus. Apakah ingin lanjut?
        </p>
      </div>

      <div id="file-mismatch" title="File tidak sesuai">
        <p><span class="ui-icon ui-icon-alert" style="margin:12px 12px 20px 0;"></span>
          File tidak sesuai, silahkan pilih file dengan ekstensi .xlsx
        </p>
      </div>
    </div>
  </nav>

  <!------------------------------------>
  <!--||   Container untuk jadwal   ||-->
  <!------------------------------------>
  <div id="jadwal" class="table"></div>

  <!----------------------------------->
  <!--||   Form untuk tambah slot  ||-->
  <!----------------------------------->
  <div id="form-slot-add" title="Tambah slot" style="text-align:left">
    <p class="validasiAdd">Semua field wajib diisi.</p>

    <form id="form-add">
      <table>
        {% csrf_token %}
        {{ formaddslot.as_table }}
      </table>
    </form>
  </div>

  <!----------------------------------->
  <!--||   Form untuk update slot  ||-->
  <!----------------------------------->
  <div id="form-slot-update" title="Update slot" style="text-align:left">
    <p class="validasiUpdate">Semua field wajib diisi.</p>

    <form id="form-update">
      <table>
        {{ formupdateslot.as_table }}
      </table>
    </form>
  </div>

  {% autoescape off %}
  <script type="text/javascript">
    {% rng %}
    {% jm %}
    var hariauto = ["Senin", "Selasa", "Rabu", "Kamis", "Jum'at", "Sabtu"];
    var kelasauto = ["A", "B", "C", "D"];
  </script>
  {% endautoescape %}

  <!------------------------------------------->
  <!--|| Load Tabulator tabel ke container ||-->
  <!------------------------------------------->
  <script type="text/javascript" src="{% static "js/jadwalkuliah/slot.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jadwalkuliah/jadwal.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jadwalkuliah/validasi.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jadwalkuliah/addSlot.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jadwalkuliah/updateSlot.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jadwalkuliah/dialog.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jadwalkuliah/action.js" %}"></script>


  <script type="text/javascript">
    /*window.onbeforeunload = function() {
      return "";
    };*/
  </script>

  </div>
  </body>
</html>
