{% load static %}
{% load custom_tags %}
<html>
    <head>
        
        <style>
            .rps_jdl > p {
                font-size: 20pt;
                font-family: Calibri, sans-serif; 
                font-weight: 800;
                margin: .1em;
                word-wrap:break-word;
            }
            .rps_t > p {
                font-size: 11pt;
                font-family: Calibri, sans-serif; 
                font-weight: 800;
                margin: .1em;
                word-wrap:break-word;
            }
            .rps_h > td > p {
                font-size: 10pt;
                font-family: Calibri, sans-serif; 
                font-weight: 800;
                margin: .1em;
                word-wrap:break-word;
            }
            .rps_b > td > p, 
            .rps_b > td > ul > li > p, 
            .rps_b > td > ul > li, 
            .rps_b > td > ol > li,
            .rps_b > td > ol > li > em,
            .rps_b > td > ul > li > ul > li {
                font-size: 11pt;
                font-family: Calibri, sans-serif; 
                margin: .1em;
                word-wrap:break-word;
            }
            .rps_uts_uas {
                font-size: 12pt;
                font-family: Cookie;
                font-weight: 800;
                margin: .1em;
                word-wrap:break-word;
            }
            .rps_h > td {
                word-wrap:break-word;
                background: #f8f8f8;
            }

            select[name$="_day"].selectdatewidget {
                width: 24%;
                margin-right: 1%;
                display: inline-block;
            }
            select[name$="_month"].selectdatewidget {
                width: 44%;
                margin-right: 1%;
                display: inline-block;
            }
            select[name$="_year"].selectdatewidget {
                width: 30%;
                display: inline-block;
            }
        </style>


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
        {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Playfair+Display" rel="stylesheet">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div class="main-container">
            <div id="head">
                <div id="navhead">
                    {% include 'base/header.html' %}
                </div>
                <div id="navmenu" class="sticky-top">
                    {% include 'base/nav.html' %}
                </div>
            </div>
            {% block jumbotron %}
            {% endblock jumbotron %}
            {% block list %}
            {% endblock %}
            <div class="container">
            {% block content %}
            {% endblock content %}
                <div class="row">
                    <div class="col-1 col-md-2">
                    </div>
                    <div class="col-10 col-md-8">
                        {% block form %}
                        {% endblock form %}
                    </div>
                    <div class="col-1 col-md-2">
                    </div>
                </div>
            </div>
        </div>
        {% include 'base/footer.html' %}
        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{% static 'js/formset/jquery.formset.js' %}" defer></script>
        <script src="{% static 'js/jquery.sticky-kit.js' %}" defer></script>        

        
        <script type="text/javascript">
            $(document).ready(function(){
                $("#navmenu").stick_in_parent({
                    parent: '.main-container',
                });
                $('.formset_matkulsilabus').formset({
                    prefix: 'silabus_set'
                });
            });
            $(function(){
                $("ul.nav li").hover(function(){
                    $(this).addClass("hover");
                    $('ul:first',this).css('visibility', 'visible');
                }, function(){
                    $(this).removeClass("hover");
                    $('ul:first',this).css('visibility', 'hidden');
                });
            });
            
            $('ul.nav li.dropdown').hover(function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(300).fadeIn(300);
                }, function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(300).fadeOut(300);
            });
        </script>

        <!-- FONT FOR UTS UAS -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
        <script>
            WebFont.load({
            google: {
                families: ["Lato:100,300,400,700,900","Karla:regular","Cookie:regular"]
            }
            });
        </script>

        {% block script %}
        {% endblock script %}

    </body>
</html>