{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
        {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Playfair+Display" rel="stylesheet">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div class="main-container">
            <div id="head">
                <div id="navhead">
                    {% include 'base/header-login.html' %}
                </div>
            </div>
            {% block list %}
            {% endblock %}
            <div class="login-card">
            <div class="container">
            {% block content %}
            {% endblock content %}
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        {% block form %}
                        {% endblock form %}
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% include 'base/footer.html' %}
        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{% static 'js/formset/jquery.formset.js' %}"></script>
        
        <!-- FORMSET -->
        <script type="text/javascript">
            $('.formset_matkulsilabus').formset({
                prefix: 'silabus_set'
            });
            $('ul.nav li.dropdown').hover(function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(500);
                }, function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(500);
            });
        </script>

        {% block script %}
        {% endblock script %}

    </body>
</html>