{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block form %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form| crispy }}
    <button class="btn btn-primary" type="submit" >Simpan</button>
</form>
{% endblock %}
