{% extends 'base.html' %}

{% load custom_tags %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
    {% comment %} DOSEN {% endcomment %}
    {% if 'Dosen' in group %}

        <div class="section section-bg col-lg-md-sm-12">
            <div class="nav">
                <li class="nav-item flex-grow-1">
                    <a class="nav-link disabled section-link">Dosen dan lainnya</a>
                </li>
                <li class="nav-item bg-dark d-flex flex-row-reverse">
                    <a class="nav-link section-link" href="{% url 'dosen_list' %}">Daftar Dosen</a>
                </li>
            </div>
        </div>

        <div class="section col-lg-12 col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'dosen_detail' dosen_id %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Profil Saya</h5>
                    </div>
                    </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'dosen_to_pdf' dosen_id %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Export profil to PDF <i class="fas fa-file-pdf"></i></h5>
                    </div>
                    </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'dosen_print' dosen_id %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Export profil to CSV <i class="fas fa-file-csv"></i></h5>
                    </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="section section-bg">
                    <div class="nav">
                        <li class="nav-item flex-grow-1">
                            <a class="nav-link disabled section-link">RPS</a>
                        </li>
                        <li class="nav-item bg-dark d-flex flex-row-reverse">
                            <a class="nav-link section-link" href="{% url 'arsip_list' %}">Daftar Arsip RPS</a>
                        </li>
                    </div>
                </div>

                <div class="row pl-5 pr-5">
                    {% get_rps_tugas request.user.id %}
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="section section-bg">
                    <div class="nav">
                        <li class="nav-item flex-grow-1">
                            <a class="nav-link disabled section-link">Matkul</a>
                        </li>
                    </div>
                </div>
                <div class="row pl-5 pr-5">
                    {% get_matkul_pengampu request.user.id %}
                </div>
            </div>
        </div>

{% comment %} OPERATOR {% endcomment %}

    {% elif 'Operator' in group %}

        <div class="section section-bg col-lg-md-sm-12">
            <div class="nav">
                <li class="nav-item flex-grow-1">
                    <a class="nav-link disabled section-link">Dosen dan lainnya</a>
                </li>
                <li class="nav-item bg-dark d-flex flex-row-reverse">
                    <a class="nav-link section-link" href="{% url 'dosen_list' %}">Daftar Dosen</a>
                </li>
            </div>
        </div>

        <div class="section col-lg-12 col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'dosen_create' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Tambah Dosen</h5>
                    </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'view_data_dosen' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Lihat Data Dosen</h5>
                    </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'print_data_dosen' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5>Print data dosen <i class="fas fa-file-csv"></i></h5>
                    </div>
                    </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'jabatan_list' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Jabatan</h5>
                    </div>
                    </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'golongan_list' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Golongan</h5>
                    </div>
                    </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'status_list' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Status</h5>
                    </div>
                    </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'lab_list' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Lab KBK</h5>
                    </div>
                    </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'strata_list' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Strata</h5>
                    </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="section section-bg col-lg-md-sm-12">
            <div class="nav">
                <li class="nav-item flex-grow-1">
                    <a class="nav-link disabled section-link">Kurikulum dan Matkul</a>
                </li>
                <li class="nav-item bg-dark d-flex flex-row-reverse">
                    <a class="nav-link section-link" href="{% url 'matkul_list' %}">Daftar Matkul</a>
                </li>
            </div>
        </div>

        <div class="section col-lg-12 col-md-12">
            <div class="row">

                <div class="col-md-3">
                    <a href="{% url 'matkul_create' kur %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Tambah Matkul</h5>
                    </div>
                    </div>
                    </a>
                </div>
                
                <div class="col-md-3">
                    <a href="{% url 'cpmk_create' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Tambah CPMK</h5>
                    </div>
                    </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'kurikulum_create' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Tambah Kurikulum</h5>
                    </div>
                    </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'kurikulum_list' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Daftar Kurikulum</h5>
                    </div>
                    </div>
                    </a>
                </div>

            </div>
        </div>

        <div class="section section-bg col-lg-md-sm-12">
            <div class="nav">
                <li class="nav-item flex-grow-1">
                    <a class="nav-link disabled section-link">RPS</a>
                </li>
                <li class="nav-item bg-dark d-flex flex-row-reverse">
                    <a class="nav-link section-link" href="{% url 'tim_list' %}">Daftar Tim RPS</a>
                </li>
            </div>
        </div>

        <div class="section col-lg-12 col-md-12">
            <div class="row">

                <div class="col-md-3">
                    <a href="{% url 'metode_list' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Metode Pembelajaran</h5>
                    </div>
                    </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'pengalaman_list' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Pengalaman Belajar</h5>
                    </div>
                    </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="{% url 'arsip_list' %}">
                    <div class="section card bg-info text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Arsip RPS</h5>
                    </div>
                    </div>
                    </a>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock content %}