{% extends 'base.html' %}

{% load custom_tags %}

{% block title %}Dashboard Admin{% endblock title %}

{% block content %}
    <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="section section-bg">
                    <ul class="nav">
                        <li class="nav-item flex-grow-1">
                            <a class="nav-link disabled section-link">Operator</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'new_operator' %}">
                        <div class="section card bg-info text-dark">
                        <div class="card-body">
                            <h5 class="card-title">Tambah Operator</h5>
                        </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="section section-bg">
                    <ul class="nav">
                        <li class="nav-item flex-grow-1">
                            <a class="nav-link disabled section-link" href="{% url 'new_operator' %}">Info Operator</a>
                        </li>
                    </ul>
                </div>
                <div class="row pl-5 pr-5">
                    {% get_daftar_operator %}
                </div>
            </div>
        </div>

{% endblock content %}