{% extends 'base.html' %}

{% load custom_tags %}

{% block title %}Home{% endblock title %}

{% block jumbotron %}
<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-responsive" style="width:100%; height:auto;" src="/media/img/Widya-Puraya.jpg" alt="First slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

{% endblock jumbotron %}

{% block content %}
    <div class="row">
        <div class="col-4 col-md-4">
        <a href="{% url 'index' %}">
            <div class="card bg-info text-dark" width="18rem;">
            <div class="card-body">
                <h5 class="card-title">Jadwal Akademik</h5>
            </div>
            </div>
            </a>
        </div>
        <div class="col-4 col-md-4 col-sm-6">
            <a href="{% url 'matkul_list' %}">
            <div class="card bg-primary text-dark" width="100rem;">
            <div class="card-body">
                <h5 class="card-title">Daftar Matkul</h5>
            </div>
            </div>
            </a>
        </div>
        <div class="col-4 col-md-4">
            <a href="{% url 'dosen_list' %}">
            <div class="card bg-success text-dark" width="18rem;">
            <div class="card-body">
                <h5>Daftar staff</h5>
            </div>
            </div>
            </a>
        </div>
    </div>
    <br>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec ultrices dui sapien eget mi proin sed libero. Sociis natoque penatibus et magnis dis parturient montes nascetur. At imperdiet dui accumsan sit amet nulla facilisi morbi. Vivamus arcu felis bibendum ut tristique et egestas quis. Pharetra vel turpis nunc eget lorem dolor sed. Dictumst vestibulum rhoncus est pellentesque elit. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed. Amet purus gravida quis blandit turpis cursus in. Et malesuada fames ac turpis egestas. Suspendisse in est ante in nibh mauris cursus mattis. Morbi tristique senectus et netus. Tortor posuere ac ut consequat semper. Adipiscing commodo elit at imperdiet dui accumsan sit amet. Est ante in nibh mauris cursus mattis molestie. Eget duis at tellus at. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Nulla facilisi cras fermentum odio. Porta lorem mollis aliquam ut.</p><p>
Non consectetur a erat nam at lectus urna duis convallis. Vitae auctor eu augue ut lectus arcu. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Pretium viverra suspendisse potenti nullam ac. Pellentesque pulvinar pellentesque habitant morbi tristique senectus. Quisque non tellus orci ac auctor. Magna sit amet purus gravida quis blandit turpis cursus in. Malesuada fames ac turpis egestas sed tempus urna et pharetra. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Neque egestas congue quisque egestas diam in. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Arcu felis bibendum ut tristique et. Felis imperdiet proin fermentum leo vel orci porta non. Non odio euismod lacinia at. Viverra nam libero justo laoreet sit amet cursus sit amet. Netus et malesuada fames ac turpis egestas integer eget aliquet. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Cras fermentum odio eu feugiat. Est velit egestas dui id ornare arcu odio.</p>
{% endblock content %}

