{% extends "base.html" %}

{% block title %}Delete Kurikulum{% endblock %}

{% block content %}
    <h1>Delete Kurikulum "{{ kurikulum }}"</h1>
    <div class="kurikulum">
    <form action="" method="post">
        {% csrf_token %}
        <h3 class="text-warning">PERINGATAN!</h3>
        <p>Seluruh Mata Kuliah dan CPMK yang ada pada {{ kurikulum }} akan terhapus!</p>
        <p>Apa anda yakin ingin menghapus "{{ kurikulum }}"?</p>
        <button class="btn btn-primary" type="submit" >Hapus</button>
        <a href="{% url 'kurikulum_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}