{% extends 'base.html' %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% block form %}
<h5 class="text-warning bg-dark font-weight-bold text-center">Tambah Kurikulum</h5>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" >Simpan</button>
    <a href="{% url 'kurikulum_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
</form>
<hr class="bg-dark"></hr>
{% endblock %}