{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block form %}
<h5 class="text-warning bg-dark font-weight-bold text-center">Tambah Kurikulum</h5>
{% crispy form %}
{% comment %} <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" >Simpan</button>
    <a href="{% url 'kurikulum_list' %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
</form> {% endcomment %}
<hr class="bg-dark"></hr>

{% endblock %}

{% block script %}

<script>
$('#button-id-cancel').on('click',function(){
    window.location.replace("{% url 'kurikulum_list' %}");
});
</script>
{% endblock script %}