{% extends 'base.html' %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% block title %}Kelola Ijazah{% endblock title %}
{% block form %}

<h3>Kelola Ijazah</h3>

{% get_ijazah dsn_id=id edit_ijazah=True %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} {% crispy form %} {% endcomment %}
    {{ form | crispy }}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalConfirm" >Simpan</button>
    <a href="{% url red pk=id %}" ><button class="btn btn-seconary" type="button" >Batal</button></a>

    <!-- Modal -->
    <div class="modal fade" id="ModalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">PERHATIAN !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Apakah anda yakin untuk menyimpan ijazah ini ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}
