{% extends "base.html" %}

{% block title %}Hapus Ijazah{% endblock %}

{% block content %}
    <h1>Hapus Ijazah</h1>
    <div class="ijazah">
    <form action="" method="post">
        {% csrf_token %}
        <hr>
        <h3>Info Ijazah</h3>
        <div>
        <table>
            <tr>
                <td>Nama</td>
                <td>:</td>
                <td>{{ ijazah.nama }}</td>
            </tr>
            <tr>
                <td>Sekolah</td>
                <td>:</td>
                <td>{{ ijazah.sekolah }}</td>
            </tr>
            <tr>
                <td>Universitas</td>
                <td>:</td>
                <td>{{ ijazah.negara}}</td>
            </tr>
            <tr>
                <td>Tahun Lulus</td>
                <td>:</td>
                <td>{{ ijazah.tahun }}</td>
            </tr>
            <tr>
                <td>Keterangan</td>
                <td>:</td>
                <td>{{ ijazah.keterangan }}</td>
            </tr>
        </table>
        </div>
        <hr>
        <p>Apakah anda ingin menghapus ijazah tersebut ?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'dosen_ijazah' pk=ijazah.dosen %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}