{% extends "base.html" %}

{% block title %}Hapus SK Jabatan{% endblock %}

{% block content %}
    <h1>Hapus Sk Jabatan</h1>
    <div class="sk">
    <form action="" method="post">
        {% csrf_token %}
        <hr>
        <h3>Info SK Jabatan</h3>
        <div>
        <table>
            <tr>
                <td>Jabatan</td>
                <td>:</td>
                <td>{{ sk.jabatan }}</td>
            </tr>
            <tr>
                <td>Tanggal SK</td>
                <td>:</td>
                <td>{{ sk.tanggal }}</td>
            </tr>
        </table>
        <hr>
        <p>Apakah anda ingin menghapus SK Jabatan tersebut?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'dosen_sk' pk=sk.dosen %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}