{% extends 'base.html' %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% block title %}Edit Dosen - Dosen{% endblock title %}Edit Dosen - Dosen
{% block form %}
<h3>Edit Dosen</h3>
{% crispy form %}

{% endblock %}

{% block script %}
<script>
$('#button-id-cancel').on('click',function(){
    window.location.replace("{% url 'dosen_detail' pk=dosen.id %}");
});
</script>
{% endblock script %}
