<div>
<h4 class="bold">Education
    {% if edit %}
        <a class="btn-sm btn-success" href="{% url 'dosen_ijazah' pk=id %}">+ Tambah Ijazah</a>
    {% endif %}
</h4>
<table class='table'>
{% for ijazah in daftar_ijazah %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ ijazah.nama }}</td>
        <td>{{ ijazah.sekolah }}</td>
        <td>{{ ijazah.negara}}</td>
        <td>{{ ijazah.tahun }}</td>
        <td>{{ ijazah.keterangan }}</td>
        <td>
        {% if edit_ijazah %}
            <a class="btn-sm btn-primary" href="{% url 'dosen_ijazah_update' dosen=id pk=ijazah.id %}">Ubah</a>
            <a class="btn-sm btn-danger" href="{% url 'dosen_ijazah_delete' dosen=id pk=ijazah.id %}">Hapus</a>
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
</div>