<div>
    <h4>Jabatan
        {% if edit %}
            <a href="#"><span>+ Tambah SK</span></a>
        {% endif %}
    </h4>
    <table class='table'>
        {% for sk in daftar_sk %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ sk.jabatan }}</td>
                <td>{{ sk.tanggal }}</td>
                <td>
                {% if edit_sk %}
                    <a class="btn-sm btn-primary" href="{% url 'dosen_sk_update' dosen=id pk=sk.id %}">Ubah</a>
                    <a class="btn-sm btn-danger" href="{% url 'dosen_sk_delete' dosen=id pk=sk.id%}">Hapus</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>