{% extends 'base.html' %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}

<div class="row">
    <div id="list" class="nav col-3">
        <form method="post">
        {% csrf_token %}
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-item"><a class="nav-link active show" href="#manfaat-pembelajaran" data-toggle="tab">Manfaat Pembelajaran</a></li>
            <li class="nav-item"><a class="nav-link" href="#deskripsi-pembelajaran" data-toggle="tab">Deskripsi Pembelajaran</a></li>
            <li class="nav-item"><a class="nav-link" href="#strategi-pembelajaran" data-toggle="tab">Strategi Pembelajaran</a></li>
            <li class="nav-item"><a class="nav-link" href="#tugas" data-toggle="tab">Tugas</a></li>
            <li class="nav-item"><a class="nav-link" href="#kriteria-penilaian" data-toggle="tab">Kriteria Penilaian</a></li>
            <li class="nav-item"><a class="nav-link" href="#data-dari-rps" data-toggle="tab">Data dari RPS</a></li>
        </ul>
    </div>
    <div class="col-9">
        <div class="tab-content panel-body"> 
        {% crispy form %}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Format HTML</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="frame" src="{% static 'files/formatHTML/kriteria_penilaian.txt' %}" frameborder="0" width=100%></iframe>
            </div>
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-secondary" onclick="copyToClipboard('#frame')">Copy</button> {% endcomment %}
                <button type="button" class="btn btn-secondary" id="selectText">Copy Text</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
            </div>
        </div>
    </div>
</div>
</form>
{% comment %} 
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
{{ form|crispy }}
    <button class="btn btn-primary" type="submit" >Simpan</button>
</form> 
{% endcomment %}
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $('#manfaat-pembelajaran').addClass('active');
    $("#list-form-tab").stick_in_parent({
        parent: '.main-container',
        offset_top: '-1em'
    });
    $('#button-id-cancel').on('click',function(){
    window.location.replace("{% url 'matkul_detail' kur=object.matkul.kurikulum.tahun pk=object.matkul.id %}");
});
});

function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
var selButtom = document.getElementById('selectText'); //store the button value in a variable
var frame = document.getElementById('frame'); // store iframe in variable

selButtom.addEventListener("click", function(){
    var frameContent = frame.contentDocument; // get content of iframe
    frameContent.execCommand('selectAll'); // execute select command select all
    frameContent.execCommand('copy'); // execute select command copy
},false);
</script>

{% endblock script %}
