<div class="accordion" id="accordionKonPem">
    {% comment %} MANFAAT {% endcomment %}
    <div class="card">
        <div class="card-header" id="KonPem">
        <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseKonPem" aria-expanded="true" aria-controls="collapseKonPem">
                Kontrak Pembelajaran
            </button>
        </h5>
        </div>

        <div id="collapseKonPem" class="collapse" aria-labelledby="headingKonPem" data-parent="#accordionKonPem">
        <div class="card-body text-justify">
            <h4 class="text-KonPem">Manfaat Pembelajaran</h4>
            <p>{{ kontrak.manfaat | safe }}</p><br>
            <h4 class="text-KonPem">Strategi Pembelajaran</h4>
            <p>{{ kontrak.strategi | safe }}</p><br>
            <h4 class="text-KonPem">Referensi</h4>
            <p>{{ kontrak.rps.referensi | safe }}</p><br>
            <h4 class="text-KonPem">Tugas</h4>
            <p>{{ kontrak.tugas | safe }}</p><br>
            <h4 class="text-KonPem">Kriteria Penilaian</h4>
            <p>{{ kontrak.kriteria | safe }}</p><br>
            <h4 class="text-KonPem">Capaian Pembelajaran</h4>
            {% for cpmk in kontrak.cpmk %}
                <p>{{ cpmk }}</p>
            {% endfor %}
            <h4 class="text-KonPem">Topik/ Jadwal Pembelajaran</h4>
            <table class="col-6 table table-sm table-hover table-bordered">
            <thead>
                <th>Minggu-ke</th>
                <th>Bahan Kajian</th>
                <th>Referensi</th>
            </thead>
            {% for jadwal in kontrak.jadwals %}
            <tbody>
                <tr>
                    <td class="text-center" width="1em">{{ jadwal.minggu }}</td>
                    <td>
                        {% for kajian in jadwal.kajian %}
                            <p>{{ kajian.bahan }}</p>
                        {% endfor %}
                    </td>
                    <td>{{ jadwal.referensi | safe }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>
</div>
<hr>
