{% extends 'base.html' %}

{% load custom_tags %}

{% load staticfiles %}

{% block title %} Detail | {{ fullname }} {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
    <div class="col-md-12">
        {% if user.id is dosen.user.id %}
            {% comment %} <a class="btn btn-primary" href="{% url 'dosen_update_dosen' dosen.id %}">Update</a> {% endcomment %}
            <a class="btn btn-sm btn-primary float-left" href="{% url 'dosen_update_dosen' dosen.id %}">Ubah</a> &nbsp;
        {% elif 'Operator' in request.user.groups.all.0.name %}                    
            <a class="btn btn-sm btn-primary float-left" href="{% url 'dosen_update' dosen.id %}">Ubah</a>&nbsp;
            <a class="btn btn-sm btn-danger" href="{% url 'dosen_delete' dosen.user_id %}">Hapus</a>&nbsp;
        {% endif %}
            <a class="btn btn-sm btn-warning" href="{% url 'dosen_to_pdf' pk=dosen.id %}">Print <i class="fas fa-file-pdf"></i></a>
        <div class="row dosen-detail mb-2 mt-2">
            <div class="col-md-8">
                <h4 class="dosen-name">{{fullname}}&emsp;&emsp;<span class="badge badge-success font-weight-light">{{status}}</span></h4>
                <div class="float-left">
                    <img class="img-thumbnail" style="width:185px; height:185px;" src={{foto.url}}/>
                    <br>
                </div>
                <div class="row dosen-detail-info dosen-kepegawaian">
                    <table class="">
                        <tr>
                            <th class="align-top font-weight-bold">Program Studi</th>
                            <th class="align-top">:</th>
                            <th class="align-top">{{prodi}}</th>
                        </tr>
                        <tr>
                            <th class="align-top font-weight-bold">NIP</th>
                            <th class="align-top">:</th>
                            <th class="align-top">{{nip}}</th>
                        </tr>
                        <tr>
                            <th class="align-top font-weight-bold">NIDN</th>
                            <th class="align-top">:</th>
                            <th class="align-top">{{nidn}}</th>
                        </tr>
                        <tr>
                            <th class="align-top font-weight-bold">Jabatan</th>
                            <th class="align-top">:</th>
                            <th class="align-top">{{jabatan}}</th>
                        </tr>
                        <tr>
                            <th class="align-top font-weight-bold">Lab</th>
                            <th class="align-top">:</th>
                            <th class="align-top">{{lab}}</th>
                        </tr>
                    </table>
                </div>
                <div class="row dosen-detail-info dosen-edukasi">
                    {% get_ijazah dsn_id=id %}  
                </div>
                <div class="dosen-detail-info float-left text-left">
                    <h4 class="research-dosen">Bidang Keahlian</h4>
                    <h6 class="d-block">{{keahlian}}</h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 pull-right">
                <br>
                <div class="card border-dark mb-3 pull-right text-left">
                    <div class="card-body">
                        <h6 class="card-title"><b>Kantor</b></h6>
                        <p class="card-text">{{alamat_kantor}}</p>
                        <h6 class="card-title"><b>Informasi Kontak</b></h6>
                        <h6 id="dosen-mail" class="card-text">{{email}}</h6>
                        <h6 class="card-title"><b>Website</b></h6>
                        <a href="http://{{website}}" class="dosen-web"><h6 class="card-text">{{website}}</h6></a>
                    </div>
                </div>
                <div class="dosen-detail-info float-left text-left">
                    <h4 class="research-dosen">Matkul yang diampu</h4>
                    <h6 class="d-block">{{keahlian}}</h6>
                </div>
            </div>
        </div>
        <div class="row informasi-dosen">
            
        </div>
    </div>
{% endblock content %}