{% extends 'base.html' %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% load staticfiles %} 

{% block title %} Detail | {{ object }} {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
<p class="text-center text-primary font-weight-bold">
    RPS {{ rps.matkul.nama_matkul }} telah berhasil diarsipkan.
</p>    
<div class="text-center">
    <a href="{% url 'rps_detail' rps.matkul.id %}"><button class="btn btn-secondary" type="button">Kembali Ke Detail RPS</button></a>
</div>
{% endblock content %}


