{% extends 'base.html' %}

{% load custom_tags %}

{% load staticfiles %}

{% block title %}{{ matkul.nama_matkul }}-Detail{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block list %}
<div id="list-matkul" class="row">
        <div id="sidebar" class="col-md-2 d-none d-sm-none d-md-block d-lg-block">
            <div class="sidebar-left">
                {% get_matkul_smt matkul.kurikulum %}
            </div>
        </div>
        <div id="detail-matkul" class="col-md-10">
            {% if 'Operator' in request.user.groups.all.0.name %}
                <div class="float-right">
                    <a class="btn btn-primary btn-sm" href="{% url 'rps_detail' pk=matkul.id %}">Lihat RPS</a>&nbsp;   
                    <a class="btn btn-warning btn-sm" href="{% url 'matkul_update' kuri.tahun matkul.id %}">Edit</a>&nbsp;   
                    {% comment %} <a class="btn btn-danger btn-sm" href="{% url 'matkul_delete' pk=matkul.id %}">Delete</a> {% endcomment %}
                </div>
            {% elif anggota %}
                <div class="float-right">
                    <a class="btn btn-primary btn-sm" href="{% url 'rps_detail' pk=matkul.id %}">Lihat RPS</a>&nbsp;   
                </div>
            {% endif %}
            
            <h3 class="display-6">{{ matkul.kd_matkul}}: {{matkul.nama_matkul }} ({{matkul.sks}} sks)</h3>
            <p class="text-justify">&emsp;{{ rps.deskripsi_matkul | safe }}</p>
            <p><b>Semester: </b>Semester {{matkul.smt}}</p>
            <p><b>Kompetensi: </b>Mata kuliah {{ matkul.kompetensi }}</p>
            <p><b>Pengampu: </b><ul>
            {% for a in pengampu %}
                <li><a href={% url 'dosen_detail' a.id %}>{{a}}</a></li>
            {% endfor %}</ul></p>
            <div class="prasyarat">
                <p><b>Prasyarat</b>:
                <ol class="">
                {% for prasyarat in matkul.prasyarat %}
                        <li><a class="" href="{% url 'matkul_detail' kur=kuri.tahun pk=prasyarat.id %}">{{prasyarat.nama}}</a>&nbsp;</li>
                    {% empty %}
                    <p>Tidak ada syarat</p>
                {% endfor %}
                </ol>
                </p>
            </div>
            <hr>
            <div class="">
                <h5>Kontrak Pembelajaran &emsp;
                    {% if 'Operator' in request.user.groups.all.0.name %}
                        <a class="btn btn-sm btn-warning" href="{% url 'kontrak_pembelajaran_edit' matkul.id %}">+ Update Silabus</a>
                    {% elif 'Dosen' in request.user.groups.all.0.name %}
                        {% if user.id in pengampu_id %}
                            <a class="btn btn-sm btn-warning" href="{% url 'kontrak_pembelajaran_edit' matkul.id %}">+ Update Silabus</a>
                        {% endif %}
                    {% endif %}
                    
                </h5>
            </div>
            {% get_kontrak matkul.id %}
        </div>
</div>
{% endblock list %}