{% extends 'base.html' %}

{% load custom_tags %}

{% load crispy_forms_tags %}

{% load staticfiles %} 

{% block title %} Detail | {{ object }} {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
    <a href="{% url 'matkul_detail' rps.matkul.kurikulum.tahun rps.matkul.id %}"><i class="fas fa-angle-double-left"></i>Back to Matkul</a></option>
    <div class="float-right">
        {% if rps.status is 3 %}
            <a class="btn btn-sm btn-primary mb-2" href="{% url 'rps_download' rps.matkul.id %}">Download RPS</a>&nbsp;
        {% elif rps.status is 0 %}
            {% if anggota %}
                <a class="btn btn-sm btn-warning mb-2" href="{% url 'rps_edit' rps.matkul.id %}">Edit RPS</a>&nbsp;
            {% endif %}    
        {% endif %}
    </div>
    <p></p>
    {% if rps.status == 0 %}
        <p class="text-center text-secondary font-weight-bold">
            <span class="badge badge-secondary badge-pill text-light">{{rps.status}}</span>
            Status RPS masih dalam penyusunan Tim
        </p>
    {% elif rps.status == 1 %}
        <p class="text-center text-warning font-weight-bold">
            <span class="badge badge-warning badge-pill text-light">{{rps.status}}</span>
            Status RPS menunggu persetujuan Ketua GPM
        </p>
    {% elif rps.status == 2 %}
        <p class="text-center text-primary font-weight-bold">
            <span class="badge badge-primary badge-pill text-light">{{rps.status}}</span>
            Status RPS menunggu persetujuan Ketua Prodi
        </p>
    {% elif rps.status is 3 %}
        <p class="text-center text-success font-weight-bold">
            <span class="badge badge-success badge-pill text-light">{{rps.status}}</span>
            Status RPS sudah disetujui Ketua Prodi
        </p>
    {% endif %}
    <div>
        <table border=1 width=100% style="table-layout: fixed; border: 1px solid #d1d1d1;">
            <tbody>
                <col width="109.44px" />
                <col width="115.2px" />
                <col width="292.8px" />
                <col width="56.64px" />
                <col width="75.84px" />
                <col width="42.24px" />
                <col width="45.12px" />
                <col width="84.48px" />
                <col width="95.04px" />
                
                <tr>
                    <td style="height: 85.44px; text-align: center;" rowspan="2" width="109.44px"><img src="{% static 'img/rps_logo/undip.png' %}" width="43.2px" height="49.92px"></img></td>
                    <td class="rps_jdl" style="height: 32.64px; text-align: center;" colspan="8"><p>RENCANA PEMBELAJARAN SEMESTER</p></td>
                </tr>
                <tr class="rps_b" >
                    <td class="rps_t" style="height: 52.8px;" colspan="3"><p>Program Studi: {{ rps.matkul.kurikulum.prodi }} </p></td>
                    <td class="rps_t" style="height: 52.8px;" colspan="5"><p>Fakultas: {{ rps.matkul.kurikulum.fakultas }} </p></td>
                </tr>
                <tr class="rps_b">
                    <td class="rps_t" colspan="2"><p>Mata Kuliah: </p></td>
                    <td><p> {{ rps.matkul.nama_matkul }} </p></td>
                    <td class="rps_t"><p>Kode: </p></td>
                    <td><p> {{ rps.matkul.kd_matkul }} </p></td>
                    <td class="rps_t"><p>Sks: </p></td>
                    <td><p> {{ rps.matkul.sks }} </p></td>
                    <td class="rps_t"><p>Semester: </p></td>
                    <td><p> {{ rps.matkul.smt }} </p></td>
                </tr>
                <tr class="rps_b">
                    <td class="rps_t" colspan="2"><p>Dosen Pengampu: </p></td>
                    <td colspan="7">
                        <p> {{ pengampu }} </p>
                    </td>
                </tr>
                <tr class="rps_b">
                    <td class="rps_t" colspan="2"><p>Capaian Pembelajaran Mata Kuliah: </p></td>
                    <td colspan="7">
                        {% for capaian in rps.matkul.cpmk %} 
                            <p> {{ capaian.cpmk }} </p>
                        {% endfor %}
                    </td>
                </tr>
                <tr class="rps_b">
                    <td class="rps_t" colspan="2"><p>Deskripsi Singkat Mata Kuliah: </p></td>
                    <td colspan="7">
                        <p> {{ rps.deskripsi | safe }} </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <table border=1 width=100% style="table-layout: fixed; border: 1px solid #d1d1d1;">
            <tbody>
                <col width="55.68px" />
                <col width="169.92px" />
                <col width="226.56px" />
                <col width="66.24px" />
                <col width="97.92px" />
                <col width="93.12px" />
                <col width="152.64px" />
                <col width="56.64px" />
                
                <tr style="height: 18.24px;" class="rps_h">
                    <td style="text-align: center;">
                        <p>1</p>
                    </td>
                    <td style="text-align: center;">
                        <p>2</p>
                    </td>
                    <td style="text-align: center;">
                        <p>3</p>
                    </td>
                    <td style="text-align: center;">
                        <p>4</p>
                    </td>
                    <td style="text-align: center;">
                        <p>5</p>
                    </td>
                    <td style="text-align: center;">
                        <p>6</p>
                    </td>
                    <td style="text-align: center;" colspan="2">
                        <p>7</p>
                    </td>
                </tr>
                <tr class="rps_h" id="tabel-bahan">
                    <td style="text-align: center;" rowspan="2">
                        <p>Minggu ke</p>
                    </td>
                    <td style="text-align: center;" rowspan="2">
                        <p>Kemampuan akhir tiap tahapan pembelajaran</p>
                    </td>
                    <td style="text-align: center;" rowspan="2">
                        <p>Bahan Kajian/ Pokok Bahasan</p>
                    </td>
                    <td style="text-align: center;" rowspan="2">
                        <p>Metode Pembelajaran</p>
                    </td>
                    <td style="text-align: center;" rowspan="2">
                        <p>Waktu (menit)</p>
                    </td>
                    <td style="text-align: center;" rowspan="2">
                        <p>Pengalaman Belajar Mahasiswa</p>
                    </td>
                    <td style="text-align: center;" colspan="2">
                        <p>Penilaian</p>
                    </td>
                </tr>
                <tr style="height: 48.96px;" class="rps_h">
                    <td style="width: 152.64px; text-align: center;">
                        <p>Kriteria &amp; Indikator</p>
                    </td>
                    <td style="width: 56.64px; text-align: center;">
                        <p>Bobot (%)</p>
                    </td>
                </tr>
                {% for bahan in rps.kajian %}
                    {% if bahan.is_uts is True %}
                    <tr class="rps_b" id="{{ bahan.minggu }}">
                        <td style="text-align: center;">
                            <p>{{ bahan.minggu }}</p>
                        </td>
                        <td colspan="7" style="text-align: center;"><p class="rps_uts_uas">Ujian Tengah Semester</p></td>
                    </tr>
                    {% elif bahan.is_uas is True %}
                    <tr class="rps_b" id="{{ bahan.minggu }}">
                        <td style="text-align: center;">
                            <p>{{ bahan.minggu }}</p>
                        </td>
                        <td colspan="7" style="text-align: center;"><p class="rps_uts_uas">Ujian Akhir Semester</p></td>
                    </tr>
                    {% else %}
                    <tr class="rps_b" id="{{ bahan.minggu }}">
                        <td style="text-align: center;">
                            <p>{{ bahan.minggu }}</p>
                        </td>
                        <td>
                            <p>{{ bahan.kemampuan }}</p>
                            {% if bahan.referensi %}
                                <p><br></p>
                                <p>{{ bahan.referensi | safe }}</p>                            
                            {% endif %}
                        </td>
                        <td>
                            <p>{{ bahan.kajian | safe }}</p>
                        </td>    
                        <td style="text-align: center;">
                            <p>
                            {% for metode in bahan.metode %}
                                {% if forloop.first %}
                                    {{ metode.metode }}
                                {% else %}
                                    dan {{ metode.metode }}
                                {% endif %}
                            {% endfor %}
                            </p>
                        </td>
                        <td style="text-align: center;">
                            <p>{{ bahan.waktu | linebreaks }}</p>
                        </td>
                        <td>
                            <ul>
                                {% for pengalaman in bahan.pengalaman %}
                                    <li><p>{{ pengalaman.pengalaman }}</p></li>
                                {% empty %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for kriteria in bahan.kriteria_parse %}
                                    <li><p>{{ kriteria }}</p></li>
                                {% empty %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td style="text-align: center;">
                            <p>{{ bahan.bobot }}</p>
                        </td>
                    </tr>
                    {% endif %}
                {% empty %}
                {% endfor %}
                <tr>
                    <td class="rps_t" style="text-align: center;" colspan="7"><p>Jumlah</p></td>
                    {% if rps.sisa is 0 and rps.bobot is not 100 %}
                        <td class="rps_t" style="text-align: center; color: red"><p>{{ rps.bobot }}</p> <p style="font-size: 10;"> (Belum mencapai 100%!)</p></td>
                    {% else %}
                        <td class="rps_t" style="text-align: center;"><p>{{ rps.bobot }}</p></td>
                    {% endif %}
                </tr>
                <tr class="rps_b">
                    <td class="rps_t" style="text-align: center;" colspan="2"><p>8. Referensi:</p></td>
                    <td colspan="6">
                        <p> {{ rps.referensi | safe }} </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
{% block form %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br/>
        <hr>
        {% if rps.status == 0 %}
            <p class="text-center text-secondary font-weight-bold">
                <span class="badge badge-secondary badge-pill text-light">{{rps.status}}</span>
                Status RPS masih dalam penyusunan Tim
            </p>
        {% elif rps.status == 1 %}
            <p class="text-center text-warning font-weight-bold">
                <span class="badge badge-warning badge-pill text-light">{{rps.status}}</span>
                Status RPS menunggu persetujuan Ketua GPM
            </p>
        {% elif rps.status == 2 %}
            <p class="text-center text-primary font-weight-bold">
                <span class="badge badge-primary badge-pill text-light">{{rps.status}}</span>
                Status RPS menunggu persetujuan Ketua Prodi
            </p>
        {% elif rps.status is 3 %}
            <p class="text-center text-success font-weight-bold">
                <span class="badge badge-success badge-pill text-light">{{rps.status}}</span>
                Status RPS sudah disetujui Ketua Prodi
            </p>
        {% endif %}
        <hr>
        <div class="text-center">
        {% if anggota.is_ketua is True %}
            {% if rps.status is 0 %}
                {% if is_rps_valid is False %}
                    <h5 class="text-danger">--- RPS belum valid untuk disetujui ---</h>
                    <hr>
                    <div class="accordion text-left" id="accordion-kesalahan">
                        <ul>
                            <li style="list-style:none;" aria-controls="kesalahan"><i style="cursor:pointer;" class="fas fa-caret-right text-danger text-left"></i>
                                <a href="#" data-toggle="collapse" data-target="#kesalahan" aria-expanded="true" aria-controls="kesalahan" class="text-danger">Tampilkan Koreksi Kesalahan</a>
                                <div id="kesalahan" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-kesalahan">
                                    <ul>
                                        {% for kesalahan in invalid_list %}
                                        <li><a id="{{ kesalahan }}" class="kesalahan text-danger text-left">{{ kesalahan }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr>        
                {% else %}
                <button class="btn btn-primary" type="submit" name="change_status" value=1 >Setujui</button>
                {% endif %}
            {% elif rps.status is 1 %}
                <button class="btn btn-secondary" type="submit" name="change_status" value=0 >Batal Setuju</button>
            {% endif %}
        
        {% elif 'GPM' in groups %}
            {% if rps.status is 1 %}
                <button class="btn btn-primary" type="submit" name="change_status" value=2 >Setujui</button>
                <a href="{% url 'rps_comment' rps.matkul.id %}"><button class="btn btn-warning" type="button" name="change_status" value=0 >Tolak</button></a>
            {% elif rps.status is 2 %}
                <button class="btn btn-secondary" type="submit" name="change_status" value=1 >Batal Setuju</button>
            {% endif %}

        {% elif 'Kaprodi' in groups%}
            {% if rps.status is 2 %}
                <button class="btn btn-primary" type="submit" name="change_status" value=3 >Setujui</button>
                <a href="{% url 'rps_comment' rps.matkul.id %}"><button class="btn btn-warning" type="button" name="change_status" value=0 >Tolak</button></a>
            {% elif rps.status is 3 %}
                <button class="btn btn-secondary" type="submit" name="change_status" value=2 >Batal Setuju</button>
            {% endif %}
        {% endif %}
        </div>
    </form>
    <br>
    {% if anggota %}
    <div>
        {% daftar_comment rps.id %}
    </div>
    {% endif %}
{% endblock form %}

