{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    Daftar Strata
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
<h3>Daftar Strata</h3>
    <div class="col-md-6">
        <a class="btn-sm btn-warning" href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to dashboard</a>
        <a class="float-right btn-sm btn-success" href="{% url 'strata_create' %}">+ Tambah Strata</a>
        <table class="table table-sm table-hover">
            <tr>
                <th>No.</th>
                <th>Strata</th>
                <th>Aksi</th>
            </tr>
            {% for strata in stratas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ strata.strata }}</td>
                    <td>
                        <a href="{% url 'strata_update' pk=strata.id %}"><button class="btn btn-primary btn-sm">Ubah</button></a>
                        <a href="{% url 'strata_delete' pk=strata.id %}"><button class="btn btn-danger btn-sm">Hapus</button></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
