{% extends "base.html" %}

{% load custom_tags %}

{% load static %}

{% block title %}
    Daftar Matkul
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
    <div class="deskripsi-kur">
        {% if kuri %}
            {% if 'Operator' in request.user.groups.all.0.name %}
                <div class="float-right">
                    <a class="btn btn-primary btn-sm" href="{% url 'cpmk_list' kuri.tahun %}">Lihat Daftar CPMK</a>&nbsp;
                    <a class="btn btn-success btn-sm" href="{% url 'matkul_create' kuri.tahun %}">+ Tambah Matkul</a>
                </div>
            {% endif %}
            <h3 class="display-5">Kurikulum {{ kuri.tahun }}</h3>        
        {% endif %}
        <p class="text-justify">{{kuri.deskripsi}}</p>
    </div>
    <div class="row">
        {% comment %} <div id="sidebar" class="col-md-3 d-none d-sm-none d-md-block d-lg-block">
            <div class="sidebar-left">
                {% get_matkul_smt %}
            </div>
        </div> {% endcomment %}
        
        <div id="list-matkul"class="col-12 col-md-12">
            {% if semesters %}
            <h3>Mata Kuliah Wajib</h3>
            <table class="table table-hover table-sm table-striped" border=1 width=100%>
                <tr class="bg-dark" style="color:white; height:60px">
                    <th width="100px" class="text-center align-middle">Kode Mata Kuliah</th>
                    <th width="80px" class="text-center align-middle">Semester</th>
                    <th width="500px" class="align-middle">Nama Mata Kuliah</th>
                    <th width="100px" class="text-center align-middle">Prasyarat</th>
                    <th width="40px" class="text-center align-middle">SKS</th>
                    <th width="100px" class="text-center align-middle">Kompetensi</th>
                    {% if 'Operator' in request.user.groups.all.0.name and is_latest %}
                        <th class="text-center align-middle">Actions</th>
                    {% endif %}
                </tr>
                {% for semester in semesters %}
                        <tr class="">
                            {% if group_op and is_latest %}
                                <td class="bg-dark text-warning text-center align-middle btn-light" colspan="7">Semester {{ forloop.counter }}</td>
                            {% else %}
                                <td class="bg-dark text-warning text-center align-middle" colspan="6">Semester {{ forloop.counter }}</td>
                            {% endif %}
                        </tr>
                        {% for smt in semester %}
                        <tr>
                            <td class="text-center align-middle">{{ smt.kd_matkul }}</td>
                            <td class="text-center align-middle">{{ smt.smt }}</td>
                            <td class="align-middle"><a id="{{smt.id}}"  class="matkul" href="{% url 'matkul_detail' kuri.tahun smt.id %}">{{ smt.nama_matkul }}</a></td>
                            <td class="text-center align-middle">
                                {% for prasyarat in smt.prasyarat %}
                                    <a href="{% url 'matkul_detail' kuri.tahun prasyarat.id %}"><p>{{ prasyarat.kd }}</p></a>
                                {% empty %}
                                    <p>-</p>
                                {% endfor %}
                            </td>
                            <td class="text-center align-middle">{{ smt.sks }}</td>
                            <td class="text-center align-middle">{{ smt.kompetensi }}</td>
                            {% if 'Operator' in request.user.groups.all.0.name and is_latest %}
                                <td class="text-center align-middle">
                                    <a href="{% url 'matkul_update' kuri.tahun smt.id %}" class="btn btn-sm btn-warning">Edit</a>&nbsp;
                                    <a href="{% url 'matkul_delete' kuri.tahun smt.id %}" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% if forloop.counter > 6 %}
                            {% with forloop.counter as outerloop_counter %}
                            {% for i in range %}
                                <tr>
                                    <td></td>
                                    <td class="text-center align-middle">{{ outerloop_counter }}</td>
                                    <td class="align-middle"><a id="{{smt.id}}"  class="matkul" href="#pilihan">Pilihan {{ forloop.counter }}</a></td>
                                    <td></td>
                                    <td class="text-center align-middle">3</td>
                                    {% if 'Operator' in request.user.groups.all.0.name and is_latest %}
                                        <td></td>
                                    {% endif %}
                                    <td></td>
                                </tr>
                            {% endfor %}
                            {% endwith %}
                        {% endif %}
                {% endfor %}
            </table>
            {% else %}
                <p>You haven't created any matkul yet.</p>
            {% endif %}
            <h3 id="pilihan" >Mata Kuliah Pilihan</h3>
            <table class="table table-hover table-sm table-striped" border=1 width=100%>
                <tr class="bg-dark" style="color:white; height:60px">
                    <th width="100px" class="text-center align-middle">Kode Mata Kuliah</th>
                    <th width="80px" class="text-center align-middle">Semester</th>
                    <th width="500px" class="align-middle">Nama Mata Kuliah</th>
                    <th width="100px" class="text-center align-middle">Prasyarat</th>
                    <th width="40px" class="text-center align-middle">SKS</th>
                    <th width="100px" class="text-center align-middle">Kompetensi</th>
                    {% if 'Operator' in request.user.groups.all.0.name %}
                        <th class="text-center align-middle">Actions</th>
                    {% endif %}
                </tr>
                {% for pilihan in pilihans %}
                    <tr>
                        <tr>
                            <td class="text-center align-middle">{{ pilihan.kd_matkul }}</td>
                            <td class="text-center align-middle">{{ pilihan.smt }}</td>
                            <td class="align-middle"><a id="{{pilihan.id}}"  class="matkul" href="{% url 'matkul_detail' kuri.tahun pilihan.id %}">{{ pilihan.nama_matkul }}</a></td>
                            <td class="text-center align-middle">
                                {% for prasyarat in pilihan.prasyarat %}
                                    <a href="{% url 'matkul_detail' kuri.tahun prasyarat.id %}"><p>{{ prasyarat.kd }}</p></a>
                                {% empty %}
                                    <p>-</p>
                                {% endfor %}
                            </td>
                            <td class="text-center align-middle">{{ pilihan.sks }}</td>
                            <td class="text-center align-middle">{{ pilihan.kompetensi }}</td>
                            {% if 'Operator' in request.user.groups.all.0.name %}
                                <td class="text-center align-middle">
                                    <a href="{% url 'matkul_update' kuri.tahun pilihan.id %}" class="btn btn-sm btn-warning">Edit</a>&nbsp;
                                    <a href="{% url 'matkul_delete' kuri.tahun pilihan.id %}" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            {% endif %}
                        </tr>
                    </tr>
                {% endfor %}
            </table>
            <a href="{% url 'kurikulum_list' %}">Lihat daftar kurikulum lama</a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        {% comment %} $('.matkul').on('click',function(){
            var matkul_id = $(this).attr("id");
            matkul_id = parseInt(matkul_id);
            $.ajax({
                url: "/matkul/"+matkul_id+"/detail-matkul/",
                success: function(result){
                    $('#detail-matkul').html(result);
                }
            });
        }); {% endcomment %}
    </script>
{% endblock script %}
