{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Daftar Kurikulum
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
    
    <div class="kurikulum-list">
        <a href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to dashboard</a>
        <div class="row">
            <div class="col-4">
                <h3>Daftar Kurikulum</h3>
            </div>
            <div class="float-right">
                {% if 'Operator' in request.user.groups.all.0.name %}
                    <p>
                        <a href="{% url 'kurikulum_create' %}" class="btn btn-success">+ Tambah Kurikulum</a>
                    </p>
                {% endif %}
                
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-6">
                {% if object_list %}
                <table class="table table-hover">
                    <thead class="bg-dark text-white">
                        <th>No</th>
                        <th>Kurikulum</th>
                        {% if 'Operator' in request.user.groups.all.0.name %}
                            <th class="text-center">Actions</th>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for kurikulum in object_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'matkul_list_lama' kurikulum.tahun %}">{{kurikulum}}</a></td>
                            {% if 'Operator' in request.user.groups.all.0.name %}
                                <td class="text-center">
                                    <a href="{% url 'kurikulum_update' kurikulum.id %}" class="btn btn-sm btn-warning">Edit</a>&nbsp;
                                    <a href="{% url 'kurikulum_delete' kurikulum.id %}" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            {% endif %}
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>You haven't created any kurikulum yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}