{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Daftar Jabatan
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}

<h3>Daftar Jabatan</h3>

    <div class="col-md-6">
        <a class="btn-sm btn-warning" href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to dashboard</a>
        <a class="float-right btn-sm btn-success" href="{% url 'jabatan_create' %}">+ Tambah Jabatan</a>
        <table class="table">
            <tr>
                <th>No.</th>
                <th>Jabatan</th>
                <th lc>Aksi</th>
            </tr>
            {% for jab in jabatan %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ jab.jabatan }}</td>
                    <td>
                        <a href="{% url 'jabatan_update' pk=jab.id %}"><button class="btn btn-primary btn-sm">Ubah</button></a>
                        <a href="{% url 'jabatan_delete' pk=jab.id %}"><button class="btn btn-danger btn-sm">Hapus</button></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
