{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    Daftar Golongan
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}
{% block content %}
<h3>Daftar Golongan</h3>
    <div>
        <a class='btn-sm btn-warning' href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to dashboard</a>
        {% comment %} <a href="{% url 'golongan_create' %}">+ Tambah Golongan</a> {% endcomment %}
        <table class="table table-hover table-sm">
            <caption>Daftar golongan-pangkat</caption>
            <tr>
                <th>No.</th>
                <th>Golongan</th>
                <th>Pangkat</th>
                {% comment %} <th>Actions</th> {% endcomment %}
            </tr>
            {% for gol in golongan %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ gol.golongan }}</td>
                    <td>{{ gol.pangkat }}</td>
                    {% comment %} <td>
                        <a href="{% url 'golongan_update' pk=gol.id %}"><button class="btn btn-primary btn-sm">Ubah</button></a>
                        <a href="{% url 'golongan_delete' pk=gol.id %}"><button class="btn btn-danger btn-sm">Hapus</button></a>
                    </td> {% endcomment %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
