{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Daftar Status
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}
{% block content %}
<h3>Daftar Status</h3>
    <div class="row">
        <div class="col-md-6">
            <a class='btn-sm btn-warning' href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to dashboard</a>
            <a class="float-right btn-sm btn-success" href="{% url 'status_create' %}">+ Tambah Status</a>
            <table class="table">
                <tr>
                    <th>No.</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
                {% for stat in status %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ stat.status }}</td>
                        <td>
                            <a href="{% url 'status_update' pk=stat.id %}"><button class="btn btn-primary btn-sm">Ubah</button></a>
                            <a href="{% url 'status_delete' pk=stat.id %}"><button class="btn btn-danger btn-sm">Hapus</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
