{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Daftar Dosen {{curr_lab}}
{% endblock %}

{% block list %}
    <div id="" class="dosen-list">
        <div class="row">
            <div class="col-6 col-md-3">
                <h3 class="d-inline-block">Daftar Dosen </h3>
                <h3 class="d-inline" style="color:#123C69;">{{curr_lab}}</h3>
            </div>
            <div class="col-md-9 col-6 pull-right text-lg-right">
                <div>
                <a class="filter btn btn-sm btn-light dropdown-toggle float-right" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter menurut lab: {{curr_lab}}
                </a> &emsp;
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item dropdown-lab" href={% url 'dosen_list' %}>Semua</a>
                    {% for labkbk in lab %}
                        <a class="dropdown-item dropdown-lab" href={% url 'dosen_list_lab' lab=labkbk.nama %}>{{ labkbk.nama }}</a>
                    {% endfor %}
                </div> &emsp;
                {% if 'Operator' in request.user.groups.all.0.name %}
                    <p class="float-right">
                        <a href="{% url 'dosen_create' %}" class="btn btn-sm btn-success pull-right">+Tambah Dosen</a>
                    </p>
                {% endif %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
        {% for dosen in dsn %}
            <div class="card col-lg-4 col-md-6 col-sm-8">
            <div class="card-dosen">
                <div class="card float-left">
                    <a href="{% url 'dosen_detail' dosen.id %}">
                        <img class="img-thumbnail d-inline" src="{{ dosen.foto.url }}" alt="Foto dosen"  style="height:150px; width:150px; float=left;"/>
                    </a>
                </div>
                <div class ="row dosen-name">
                    <a href="{% url 'dosen_detail' dosen.id %}">
                        <p class="card-title"> {{ dosen.name }}</p>
                    </a>
                </div>
                <div class="row list-dosen nip">
                    <p>NIP: {{ dosen.nip }}</p>
                </div>
                <div class="row list-dosen prodi-jabatan">
                    <p>{{ dosen.prodi }} | {{dosen.jabatan}}</p>
                </div>
                <div class="row list-dosen lab">
                    <p>Lab {{ dosen.lab }}</p>
                </div>
                <div class="row list-dosen keahlian">
                    <p> {{ dosen.keahlian | truncatechars:50 }} </p>                
                </div>
                <div class="row list-dosen email ">
                    <p id="dosen-mail">{{ dosen.email }}</p>
                </div>
            </div>
            </div>
        {% empty %}
            <p>You haven't created any dosen yet.</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        {% comment %} $('.dropdown-lab').on('click',function(){
            lab_text = $(this).text();
            lab_id = .get(namalab=lab_text);
            
            $.ajax({
                url: "{% url 'matkul_list' %}",
                success: function(result){
                    $('#detail-matkul').html(result);
                }
            });
        }); {% endcomment %}

    </script>
{% endblock script %}