{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Daftar Lab KBK
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}
{% block content %}
<h3>Daftar Lab KBK</h3>
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            {% if group_op %}
            <a class='btn-sm btn-warning' href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to dashboard</a>
            <a class="float-right btn-sm btn-success" href="{% url 'lab_create' %}">+ Tambah Lab</a>
            {% endif %}
            {% if group_op %}
            <table class="table table-hover">
                <tr>
                    <th>No.</th>
                    <th>Nama</th>
                    {% if group_op %}
                    <th>Aksi</th>
                    {% endif %}
                </tr>
                {% for lab in labs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'lab_detail' pk=lab.id %}">{{ lab.nama }}</a></td>
                        {% if group_op %}
                        <td>
                            <a href="{% url 'lab_update' pk=lab.id %}"><button class="btn btn-primary btn-sm">Ubah</button></a>
                            <a href="{% url 'lab_delete' pk=lab.id %}"><button class="btn btn-danger btn-sm">Hapus</button></a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
