{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Daftar CPMK
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock head %}

{% block content %}
    
    <div class="cpmk-list">
        {% if  object_list.0.kurikulum.tahun %}
            <a href="{% url 'matkul_list_lama' object_list.0.kurikulum.tahun %}"><i class="fas fa-angle-double-left"></i>Back to Kurikulum</a>
        {% else %}
            <a href="{% url 'authenticate' %}"><i class="fas fa-angle-double-left"></i>Back to Dashboard</a>
        {% endif %}
        <div class="row">
            <div class="col-10">
                <h3>Daftar CPMK {{object_list.0.kurikulum}}</h3>
            </div>
            <div class="float-right">
                <a href="{% url 'cpmk_create' %}" class="btn btn-success btn-sm">+ Tambah CPMK</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if object_list %}
                <table class="table table-hover table-sm table-striped">
                    <col width="15.68px" />
                    <col width= auto />
                    <col width="226.56px" />                   
                    <thead class="bg-dark text-white">
                        <th>No</th>
                        <th>CPMK</th>
                        {% if 'Operator' in request.user.groups.all.0.name %}
                            <th class="text-center">Actions</th>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for cpmk in object_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><p>{{cpmk}}</p></td>
                            <td class="text-center">
                                <a href="{% url 'cpmk_update' cpmk.id %}" class="btn btn-sm btn-warning">Edit</a>&nbsp;
                                <a href="{% url 'cpmk_delete' cpmk.id %}" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>You haven't created any cpmk yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}