{% extends "base.html" %}

{% block title %}Delete CPMK{% endblock %}

{% block content %}
    <h1>Delete CPMK "{{ cpmk }}"</h1>
    <div class="cpmk">
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ cpmk }}"?</p>
        <button class="btn btn-danger" type="submit" >Hapus</button>
        <a href="{% url 'cpmk_list' object.kurikulum.tahun %}" ><button class="btn btn-secondary" type="button" >Batal</button></a>
    </form>
    </div>
{% endblock %}